# Data Cleaning for Home Value Prediction

In [1]:
import pandas as pd
import json

In [2]:
pd.set_option('display.max_columns', None)

This line reads the CSV file with our dataset

In [3]:
ds = pd.read_csv("./dataset.csv")

In [4]:
ds.sample(n=5)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Views,Area,Road,Road Width,Road Type,Build Area,Posted,Amenities
1493,20 Haat Land On Sale Near Royal Palm Resort (P...,"Near Royal Palm Resort, Chauthe, Pokhara",Pokhara,1100000.0,0,0,NaN,0,South,NaN,341,20 Haat,20 Feet / Soil Stabilized,20 Feet,Soil Stabilized,N/A Haat,10 months ago,[]
471,1.5 Storey House : House For Sale In Tikathali...,"Nearby, Buddha party palace, Tikathali, Lalitpur",Lalitpur,11500000.0,2,1,1.5,1,South,2076.0,902,0-2-3-2 Aana,13 Feet / Gravelled,13 Feet,Gravelled,N/A Aana,3 months ago,"['Fencing', 'Drainage', 'Water Tank', 'Water W..."
667,Budhanilkantha 6 Ana Bungalow : House For Sale...,"Na, Budhanilkantha, Kathmandu",Kathmandu,36000000.0,5,5,3.0,1,East,2070.0,178,6 Aana,13 Feet / Blacktopped,13 Feet,Blacktopped,N/A Aana,4 months ago,"['Garden', 'Water Supply', 'Water Tank', 'Sola..."
1799,"House For Sale In Khumaltar, Lalitpur","Khumaltar, Khumaltar, Lalitpur",Lalitpur,37500000.0,6,5,4.0,0,South West,NaN,719,0-6-1-0 Sq. Feet,13 Feet,13 Feet,NaN,N/A Sq. Feet,1 year ago,[]
127,Commercial / Residential Land : Land For Sale ...,"Kist hospital to hatiban road, Imadol, Lalitpur",Lalitpur,3500000.0,0,0,NaN,0,South West,NaN,90,4.5 Aana,7 Meter / Gravelled,7 Meter,Gravelled,N/A Aana,1 month ago,[]

In [5]:
important_terms_on_property = {'house', 'rent', 'sale','lease', 'sell' ,'home', 'office', 'land', 'bungalow', 'building', 'apartment', 'flat', 'business' }

In [6]:
ds.sample(n=5)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Views,Area,Road,Road Width,Road Type,Build Area,Posted,Amenities
203,Villa On Rent At Budhanilkantha : House For Re...,"budhanilkantha, Budhanilkantha, Kathmandu",Kathmandu,200000.0,5,4,NaN,4,East,NaN,323,25 Aana,0 Feet,0 Feet,NaN,N/A Aana,2 months ago,['Parking']
1406,"House For Sale In Budhanilkantha, Kathmandu","Taulung, Budhanilkantha, Kathmandu",Kathmandu,26000000.0,0,0,NaN,0,North East,NaN,535,0-6-1-2 Aana,16 Feet,16 Feet,NaN,N/A Sq. Feet,10 months ago,"['Balcony', 'TV Cable', 'Drainage', 'Water Sup..."
2023,"House For Sale In Sano Bharyang, Kathmandu","Near by Yellow Gumba, Sano Bharyang, Kathmandu",Kathmandu,26000000.0,4,5,3.0,3,East,NaN,247,0-4-0-2 Aana,12 Feet,12 Feet,NaN,N/A Sq. Feet,1 year ago,"['Balcony', 'TV Cable', 'Wifi', 'Drainage', 'W..."
18,House For Sale At Kalanki : House For Sale In ...,"khasibazaar, Kalanki, Kathmandu",Kathmandu,62000000.0,7,4,NaN,3,East,NaN,164,10 Aana,0 Feet,0 Feet,NaN,N/A Aana,1 month ago,[]
1829,"Land For Sale In Jhapa, Jhapa","Birtamod, Jhapa, Jhapa",Jhapa,2200000.0,0,0,NaN,0,North,NaN,305,17 Kattha,20 Feet / Gravelled,20 Feet,Gravelled,N/A Sq. Feet,1 year ago,[]

In [7]:
ds['Title'] = ds['Title'].astype('string')
for index in ds.index:
    #print(index)
    data_title_ = str(ds.loc[index, 'Title'])
    data_title = data_title_.lower().strip().split(' ').copy()
    set_title = set(data_title)
    
    common = set_title.intersection(important_terms_on_property)
    common = list(common)
    if (len (important_terms_on_property.intersection(set_title)) != 0):
        ds.loc[index, 'Title'] = str(common)

In [8]:
ds.sample(n=10)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Views,Area,Road,Road Width,Road Type,Build Area,Posted,Amenities
1568,"['sale', 'land']","Chundevi, Chundevi, Kathmandu",Kathmandu,2000000.0,0,0,NaN,0,South East,NaN,328,10 Aana,13 Feet,13 Feet,NaN,N/A Sq. Feet,10 months ago,[]
2104,"['sale', 'land']","Washi, Budhanilkantha, Kathmandu",Kathmandu,2100000.0,0,0,NaN,0,East,NaN,288,1-0-0-0 Ropani,15 Feet,15 Feet,NaN,N/A Sq. Feet,1 year ago,[]
934,"['sale', 'land']","Near Star Venue Party Palace, Naxal, Kathmandu",Kathmandu,8500000.0,0,0,NaN,0,South East,NaN,402,0-7-0-0 Aana,16 Feet / Blacktopped,16 Feet,Blacktopped,N/A Aana,7 months ago,[]
2071,"['sale', 'house']","Ravi Bhawan, Ravi Bhawan, Kathmandu",Kathmandu,60000000.0,0,0,3.0,0,East,NaN,594,12 Aana,13 Feet,13 Feet,NaN,N/A Sq. Feet,1 year ago,"['Balcony', 'TV Cable', 'Wifi', 'Drainage', 'W..."
1889,"['sale', 'land']","Dhampus, Dhampus, Kaski",Kaski,900000.0,0,0,NaN,0,South,NaN,218,20/45 Haat,20 Feet,20 Feet,NaN,N/A Sq. Feet,1 year ago,[]
1712,"['sale', 'land']","Bypass, Balaju, Kathmandu",Kathmandu,4500000.0,0,0,NaN,0,West,NaN,274,0-9-2-1 Aana,16 Feet / Blacktopped,16 Feet,Blacktopped,N/A Sq. Feet,1 year ago,[]
672,"['sale', 'house']","Sital height, Imadol, Lalitpur",Lalitpur,20000000.0,6,3,2.5,2,North,2076.0,4.6K,0-3-2-0 Aana,13 Feet / Gravelled,13 Feet,Gravelled,1900 Sq. Feet,4 months ago,"['Balcony', 'Fencing', 'Modular Kitchen', 'TV ..."
1718,"['sale', 'apartment']","Prestige Apartment, Chandol, Kathmandu",Kathmandu,22500000.0,3,4,NaN,0,North East,NaN,1.3K,1780 Sq. Feet,20 Feet,20 Feet,NaN,1780 Sq. Feet,1 year ago,"['Balcony', 'Gym', 'Modular Kitchen', 'Swimmin..."
56,"['sale', 'house']","Nayabazar-16, Naya Bazar, Kathmandu",Kathmandu,31000000.0,3,4,3.0,1,East,2018.0,209,0-3-0-0 Aana,6 Meter / Blacktopped,6 Meter,Blacktopped,2000 Sq. Feet,1 month ago,"['Fencing', 'Modular Kitchen', 'Frontyard', 'B..."
870,"['sale', 'land']","sainbu sital colony, Bhaisepati, Lalitpur",Lalitpur,2700000.0,0,0,NaN,0,North East,NaN,10K,0-6-2-0 Aana,16 Feet / Blacktopped,16 Feet,Blacktopped,N/A Aana,7 months ago,"['Drainage', 'Water Well', 'Electricity Backup']"

In [9]:
ds = ds.drop(["Posted", "Views", "Road"], axis=1) # List dataset <=> Array

In [10]:
ds.sample(2)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
241,"['sale', 'house']","Nearby Valley Top Driving Center, Sankhamul, K...",Kathmandu,35000000.0,7,3,2.5,2,West,2076.0,0-3-2-2 Aana,12 Feet,Paved,3600 Sq. Feet,"['Balcony', 'Fencing', 'Modular Kitchen', 'TV ..."
119,"['sale', 'land']","Na, Budhanilkantha, Kathmandu",Kathmandu,3500000.0,0,0,NaN,0,South,NaN,10 Aana,30 Feet,Blacktopped,N/A Aana,[]

In [11]:
def extract_area_from_string(raw_data):
    raw_data = str(raw_data)
    #print(raw_data)
    if (len(raw_data) > 3):
        try:
            raw_data = raw_data.split(",")
            #print(raw_data[-2].strip().lower())
            return (raw_data[-2].strip().lower())
        except:
            pass
    return ("")

In [12]:
ds["Address"] = ds["Address"].astype("string")

In [13]:
ds["Address"] = ds["Address"].apply(extract_area_from_string)

In [14]:
ds.sample(3)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
351,"['sale', 'land']",gaurighat,Kathmandu,8000000.0,0,0,NaN,0,East,NaN,1-0-0-0 Ropani,11 Meter,Blacktopped,N/A Sq. Feet,"['Drainage', 'Water Supply', 'Parking', 'Secur..."
1272,"['rent', 'flat']",biratnagar,Morang,17000.0,3,2,NaN,0,West,NaN,900 Sq. Feet,15 Feet,Blacktopped,N/A Sq. Feet,[]
906,"['sale', 'house']",mid baneshwor,Kathmandu,35000000.0,0,0,NaN,0,North,NaN,0-3-5-0 Aana,13 Feet,Blacktopped,N/A Sq. Feet,[]

In [15]:
ds["City"] = ds["City"].apply(lambda x : str(x).lower())

In [16]:
ds.sample(4)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
1217,"['sale', 'land']",kalanki,kathmandu,3500000.0,0,0,NaN,0,West,NaN,0-3-0-0 Aana,12 Feet,Soil Stabilized,N/A Sq. Feet,[]
1594,"['sale', 'land']",taadi,chitwan,9000000.0,0,0,NaN,0,East,NaN,1 Kattha,20 Feet,NaN,N/A Aana,[]
1502,"['sale', 'land']",nagarjun,kathmandu,1600000.0,0,0,NaN,0,South,NaN,148 Sq. Meter,10 Feet,Gravelled,N/A Aana,[]
1297,"['sale', 'house', 'home']",bhangal,kathmandu,24000000.0,6,6,3.0,1,North West,2076.0,4 Aana,15 Feet,Blacktopped,N/A Aana,[]

In [17]:
ds["Face"] = ds["Face"].apply(lambda x: str(x).lower())

In [18]:
ds.sample(5)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
1962,"['sale', 'house']",gongabu,kathmandu,26000000.0,5,3,3.0,2,north,NaN,4.3 Aana,16 Feet,NaN,N/A Sq. Feet,"['Balcony', 'TV Cable', 'Wifi', 'Drainage', 'W..."
914,"['sale', 'house']",budhanilkantha,kathmandu,25500000.0,7,5,3.0,1,east,2076.0,5 Aana,20 Feet,Gravelled,2600 Sq. Feet,"['Water Supply', 'Drainage', 'Garage']"
2073,"['sale', 'house']",swayambhu,kathmandu,13000000.0,4,2,NaN,0,south,NaN,4.8 Aana,16 Feet,NaN,N/A Sq. Feet,[]
1465,"['sale', 'house']",hattisar,kathmandu,43500000.0,0,0,3.0,0,west,NaN,3.85 Aana,20 Feet,NaN,N/A Sq. Feet,"['Drainage', 'Water Supply']"
593,"['sale', 'house', 'bungalow']",thulo bharyang,kathmandu,39000000.0,5,5,3.0,3,east,2070.0,7 Aana,15 Feet,Blacktopped,N/A Aana,"['Garage', 'Frontyard', 'Garden', 'Modular Kit..."

In [19]:
ds["Road Width"].unique()

array(['20 Feet ', '13 Feet ', '11 Feet ', '12 Feet ', '15 Feet ',
       '14 Feet ', '13 Feet', '0 Feet', '10 Feet', '10 Feet ', '32 Feet',
       '16 Feet ', '18 Feet ', '15 Feet', '26 Feet ', '6 Meter ',
       '29 Feet', '20 Feet', '6 Meter', '12 Feet', '22 Feet', '40 Feet ',
       '16 Feet', '11 Feet', '30 Feet ', '58 Feet ', '26 Feet',
       '35 Feet ', '18 Feet', '7 Meter ', '14 Feet', '25 Feet',
       '72 Feet ', '20 Meter ', '9 Meter ', '0 Feet ', '25 Feet ',
       '40 Feet', '22 Feet ', '36 Feet', '11 Meter ', '30 Feet',
       '45 Feet ', '3 Feet', '6 Feet', '30 Meter ', '500 Meter',
       '300 Feet', '500 Feet', '300 Meter', '28 Feet', '4 Meter ',
       '24 Feet ', '4 Feet', '23 Feet ', '8 Feet ', '0 Meter ',
       '50 Feet ', '19 Meter ', '7 Feet ', '150 Meter ', '21 Feet',
       '28 Feet ', '32 Feet ', '50 Meter ', '1 Meter ', '4 Feet ',
       '1 Feet ', '400 Feet ', '17 Meter ', '210 Feet ', '25 Meter ',
       '22 Meter ', '8 Meter ', '60 Feet ', '5 Meter ', '10 Meter ',
       '33 Feet ', '5 Feet ', '9 Feet ', '8 Meter', '33 Feet', '42 Feet ',
       '66 Feet ', '17 Feet ', '1 Feet', '55 Feet', '24 Feet', '52 Feet ',
       '21 Feet ', '36 Feet ', '9 Feet', '7 Feet', '31 Feet', '23 Feet',
       '11 Meter', '3.5 Meter', '4 Meter', '17 Feet', '9 Meter'],
      dtype=object)

In [20]:
ds["Road Width"] = ds["Road Width"].astype("string")

In [21]:
ds.sample(4)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
1228,"['sale', 'land']",jorpati,kathmandu,2900000.0,0,0,NaN,0,west,NaN,4 Aana,12 Feet,Blacktopped,N/A Sq. Feet,[]
283,"['rent', 'house']",maharajgunj,kathmandu,100000.0,5,4,NaN,2,east,NaN,11 Aana,0 Feet,NaN,N/A Aana,"['Modular Kitchen', 'Parking', 'Water Supply',..."
517,"['sale', 'house']",banasthali,kathmandu,22500000.0,4,3,2.0,1,east,2076.0,0-3-0-0 Aana,15 Feet,Blacktopped,N/A Aana,"['Garage', 'Backyard', 'Garden', 'Frontyard', ..."
1153,"['sale', 'land']",hetauda,makwanpur,200000.0,0,0,NaN,0,east,NaN,14 Dhur,8 Meter,Blacktopped,N/A Dhur,[]

In [22]:
ds["Road Width"] = ds["Road Width"].apply(lambda x : str(x).strip().lower())

In [23]:
ds.sample(4)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
1121,"['sale', 'house']",kapan,kathmandu,26500000.0,11,5,3.0,0,east,NaN,4 Aana,13 feet,Blacktopped,N/A Sq. Feet,[]
2148,"['sale', 'land']",baneshwor,kathmandu,5200000.0,0,0,NaN,0,north west,NaN,0-13-0-0 Aana,18 feet,NaN,N/A Sq. Feet,"['Drainage', 'Water Supply']"
1946,"['sale', 'land']",lazimpat,kathmandu,5000000.0,0,0,NaN,0,north,NaN,6 Aana,12 feet,NaN,N/A Sq. Feet,[]
149,"['rent', 'sale', 'apartment']",sanepa,lalitpur,115000.0,0,0,NaN,0,north east,NaN,1400 Sq. Feet,0 feet,NaN,N/A Aana,[]

In [24]:
ds["Road Width"].unique()

array(['20 feet', '13 feet', '11 feet', '12 feet', '15 feet', '14 feet',
       '0 feet', '10 feet', '32 feet', '16 feet', '18 feet', '26 feet',
       '6 meter', '29 feet', '22 feet', '40 feet', '30 feet', '58 feet',
       '35 feet', '7 meter', '25 feet', '72 feet', '20 meter', '9 meter',
       '36 feet', '11 meter', '45 feet', '3 feet', '6 feet', '30 meter',
       '500 meter', '300 feet', '500 feet', '300 meter', '28 feet',
       '4 meter', '24 feet', '4 feet', '23 feet', '8 feet', '0 meter',
       '50 feet', '19 meter', '7 feet', '150 meter', '21 feet',
       '50 meter', '1 meter', '1 feet', '400 feet', '17 meter',
       '210 feet', '25 meter', '22 meter', '8 meter', '60 feet',
       '5 meter', '10 meter', '33 feet', '5 feet', '9 feet', '42 feet',
       '66 feet', '17 feet', '55 feet', '52 feet', '31 feet', '3.5 meter'],
      dtype=object)

In [25]:
def meter_to_feet(data):
    data = str(data)
    try:
        data = data.split(" ")
        if (data[-1] == "meter"):
            return int(int(data[0]) * 3.281)
        else:
            return int(data[0])
    except:
        pass
    return 0

In [26]:
ds["Road Width"] = ds["Road Width"].apply(meter_to_feet)

In [27]:
ds.sample(5)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
1429,"['sale', 'house']",tikathali,lalitpur,16000000.0,0,0,0.0,1,north,NaN,0-3-0-0 Sq. Feet,13,Gravelled,0-2-2-0 Sq. Feet,[]
2071,"['sale', 'house']",ravi bhawan,kathmandu,60000000.0,0,0,3.0,0,east,NaN,12 Aana,13,NaN,N/A Sq. Feet,"['Balcony', 'TV Cable', 'Wifi', 'Drainage', 'W..."
652,"['sale', 'house']",budhanilkantha,kathmandu,36000000.0,5,4,2.0,2,north east,NaN,0-6-0-0 Aana,15,Blacktopped,N/A Aana,"['Lawn', 'Garage', 'Air Condition', 'Backyard'..."
699,"['sale', 'house']",naikap,kathmandu,22000000.0,11,3,2.5,1,south,2073.0,0-6-0-0 Aana,11,Gravelled,185 Sq. Meter,"['Drainage', 'Water Well', 'Parking']"
1007,"['sale', 'house']",bhangal,kathmandu,20000000.0,0,0,NaN,0,south east,NaN,0-3-1-0 Aana,13,Blacktopped,N/A Sq. Feet,[]

In [28]:
ds["Road Width"] = ds["Road Width"].astype("int")

In [29]:
ds["Road Width"].unique()

array([  20,   13,   11,   12,   15,   14,    0,   10,   32,   16,   18,
         26,   19,   29,   22,   40,   30,   58,   35,   25,   72,   65,
         36,   45,    3,    6,   98, 1640,  300,  500,  984,   28,   24,
          4,   23,    8,   50,   62,    7,  492,   21,  164,    1,  400,
         55,  210,   82,   60,   33,    5,    9,   42,   66,   17,   52,
         31])

In [30]:
ds["Road Type"] = ds["Road Type"].apply(lambda x: str(x).lower())

In [31]:
ds.sample(4)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
270,"['sale', 'house', 'bungalow']",sukedhara,kathmandu,42500000.0,5,3,2.0,1,east,NaN,0-5-0-0 Aana,12,paved,N/A Aana,"['Parking', 'Lawn', 'Garage', 'Air Condition',..."
394,"['sale', 'house']",budhanilkantha,kathmandu,19000000.0,4,3,2.0,1,east,2076.0,0-3-0-0 Aana,15,blacktopped,N/A Aana,"['Lawn', 'Backyard', 'Balcony', 'Garden', 'Fro..."
1134,"['sale', 'house']",baneshwor,kathmandu,33000000.0,0,0,3.0,3,south,NaN,0-4-2-0 Aana,8,gravelled,N/A Sq. Feet,[]
1850,"['sale', 'house']",jorpati,kathmandu,11400000.0,0,0,1.0,0,south,NaN,3 Aana,13,gravelled,N/A Sq. Feet,"['TV Cable', 'Wifi', 'Drainage', 'Water Supply..."

In [32]:
ds["City"].unique()

array(['kathmandu', 'lalitpur', 'pokhara', 'bhaktapur', 'chitwan',
       'butwal', 'bara', 'birtamod', 'dharan', 'sunsari', 'makwanpur',
       'nawalpur', 'kirtipur', 'biratnagar', 'parsa', 'itahari', 'jhapa',
       'mahottari', 'dhading', 'bardiya', 'morang', 'dang', 'kavre',
       'kaski', 'surkhet', 'bhairahawa', 'kapilvastu', 'rupandehi',
       'tanahu', 'illam', 'nawalparasi', 'kailali'], dtype=object)

In [33]:
important_cities = ['kathmandu', 'lalitpur', 'bhaktapur', 'chitwan', 'butwal', 'kirtipur']

In [34]:
#"chitwan" in important_cities

In [35]:
ds = ds[ds['City'].isin(important_cities)]

In [36]:
ds["City"].unique()

array(['kathmandu', 'lalitpur', 'bhaktapur', 'chitwan', 'butwal',
       'kirtipur'], dtype=object)

In [37]:
ds['City'].isna().sum()

0

In [38]:
ds["Road Type"] = ds["Road Type"].apply(lambda x: str(x).strip())

In [39]:
ds['Road Type'].unique()

array(['blacktopped', 'gravelled', 'concrete', 'paved', 'nan',
       'soil stabilized', 'alley'], dtype=object)

In [40]:
ds['City'].value_counts()

kathmandu    1483
lalitpur      432
bhaktapur      85
chitwan        33
kirtipur        7
butwal          6
Name: City, dtype: int64

In [41]:
ds['City'].count()

2046

In [42]:
df1 = pd.get_dummies(ds['City'], prefix="city")

In [43]:
df1.head()

,city_bhaktapur,city_butwal,city_chitwan,city_kathmandu,city_kirtipur,city_lalitpur
0,0,0,0,1,0,0
1,0,0,0,1,0,0
2,0,0,0,1,0,0
3,0,0,0,1,0,0
4,0,0,0,1,0,0

In [44]:
ds = pd.concat([ds,df1], axis=1)

In [45]:
ds = ds.drop(["City"], axis=1)

In [46]:
ds.sample(5)

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities,city_bhaktapur,city_butwal,city_chitwan,city_kathmandu,city_kirtipur,city_lalitpur
1953,"['sale', 'land']",budhanilkantha,2400000.0,0,0,NaN,0,west,NaN,15 Aana,11,nan,N/A Sq. Feet,[],0,0,0,1,0,0
1289,"['sale', 'land']",chovar,1500000.0,0,0,NaN,0,west,NaN,18 Aana,15,soil stabilized,N/A Sq. Feet,[],0,0,0,1,0,0
1187,"['sale', 'house']",chabahil,38000000.0,0,0,NaN,0,north,NaN,8 Aana,14,blacktopped,N/A Sq. Feet,[],0,0,0,1,0,0
1438,"['sale', 'house']",budhanilkantha,142500000.0,42,0,NaN,0,south,NaN,7 Aana,22,blacktopped,N/A Sq. Feet,[],0,0,0,1,0,0
46,"['sale', 'house', 'home']",budhanilkantha,30500000.0,5,5,2.0,1,west,2070.0,4 Aana,13,blacktopped,N/A Aana,['Parking'],0,0,0,1,0,0

In [47]:
#ds["Address"].unique()

In [48]:
len(ds['Address'].unique())

218

In [49]:
ds['Address'] = ds['Address'].astype('category')

In [50]:
ds.sample(5)

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities,city_bhaktapur,city_butwal,city_chitwan,city_kathmandu,city_kirtipur,city_lalitpur
1041,"['sale', 'house']",budhanilkantha,26200000.0,13,0,NaN,0,west,NaN,0-5-5-0 Aana,13,blacktopped,N/A Sq. Feet,[],0,0,0,1,0,0
1070,"['sale', 'land']",goldhunga,1500000.0,0,0,NaN,0,south,NaN,0-3-3-0 Aana,13,gravelled,N/A Sq. Feet,[],0,0,0,1,0,0
972,"['sale', 'land']",godawari,1100000.0,0,0,NaN,0,south,NaN,5 Aana,20,gravelled,N/A Sq. Feet,[],0,0,0,0,0,1
129,"['rent', 'flat']",lazimpat,30000.0,1,1,NaN,1,east,NaN,10 Aana,0,nan,N/A Aana,"['Parking', 'Balcony', 'Modular Kitchen', 'Wat...",0,0,0,1,0,0
1302,"['sale', 'land']",satungal,2000000.0,0,0,NaN,0,north,NaN,0-8-1-0 Aana,15,blacktopped,N/A Sq. Feet,[],0,0,0,1,0,0

In [51]:
amenities = ds["Amenities"].copy()

In [52]:
def convert_amenities_to_list(amenity):
    amenity = amenity.strip('][').replace("'", "").split(", ")
    amenity = [x.lower() for x in amenity]
    if (not amenity[0] == ''):
        return amenity
    else:
        return([])

In [53]:
ds['Amenities'] = ds['Amenities'].apply(convert_amenities_to_list)

In [54]:
ds.sample(5)

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities,city_bhaktapur,city_butwal,city_chitwan,city_kathmandu,city_kirtipur,city_lalitpur
1185,"['sale', 'house']",kirtipur,15000000.0,0,0,NaN,0,south,NaN,3 Aana,10,blacktopped,N/A Sq. Feet,[],0,0,0,1,0,0
2110,"['rent', 'house']",naxal,400000.0,0,0,NaN,0,south,NaN,24 Aana,20,nan,N/A Sq. Feet,"[balcony, frontyard, drainage, water supply, w...",0,0,0,1,0,0
1545,"['sale', 'land']",budhanilkantha,4100000.0,0,0,NaN,0,west,NaN,10 Aana,15,soil stabilized,N/A Sq. Feet,[],0,0,0,1,0,0
1962,"['sale', 'house']",gongabu,26000000.0,5,3,3.0,2,north,NaN,4.3 Aana,16,nan,N/A Sq. Feet,"[balcony, tv cable, wifi, drainage, water supp...",0,0,0,1,0,0
1461,"['sale', 'house']",tokha,14000000.0,6,0,NaN,0,north,NaN,4 Aana,12,soil stabilized,N/A Sq. Feet,"[balcony, tv cable, wifi, drainage, water supp...",0,0,0,1,0,0

In [55]:
face_dummies = pd.get_dummies(ds["Face"],prefix="face")

In [56]:
face_dummies

,face_east,face_north,face_north east,face_north west,face_south,face_south east,face_south west,face_west
0,0,0,0,0,0,0,0,1
1,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,1
4,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...
2206,0,0,1,0,0,0,0,0
2207,0,0,1,0,0,0,0,0
2208,1,0,0,0,0,0,0,0
2209,0,1,0,0,0,0,0,0
2210,1,0,0,0,0,0,0,0

In [57]:
ds = pd.concat([ds,face_dummies], axis=1)

In [58]:
ds.sample(5)

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities,city_bhaktapur,city_butwal,city_chitwan,city_kathmandu,city_kirtipur,city_lalitpur,face_east,face_north,face_north east,face_north west,face_south,face_south east,face_south west,face_west
1640,"['sale', 'house']",thankot,17500000.0,5,2,3.0,0,south,NaN,4 Aana,16,blacktopped,N/A Sq. Feet,"[balcony, tv cable, wifi, drainage, water supp...",0,0,0,1,0,0,0,0,0,0,1,0,0,0
153,"['sale', 'land']",bhangal,3000000.0,0,0,NaN,0,north,NaN,5 Aana,0,nan,5 Aana,[],0,0,0,1,0,0,0,1,0,0,0,0,0,0
1836,"['sale', 'house']",budhanilkantha,47500000.0,0,0,NaN,4,west,NaN,8 Aana,16,gravelled,N/A Sq. Feet,"[balcony, tv cable, wifi, drainage, water supp...",0,0,0,1,0,0,0,0,0,0,0,0,0,1
628,"['sale', 'house', 'bungalow']",hattigauda,37500000.0,4,3,2.0,1,south east,NaN,0-5-0-0 Aana,15,blacktopped,N/A Aana,"[lawn, garage, air condition, backyard, balcon...",0,0,0,1,0,0,0,0,0,0,0,1,0,0
2069,"['sale', 'house']",hattisar,43500000.0,6,0,3.0,0,west,NaN,0-3-2-1 Aana,20,nan,N/A Sq. Feet,"[tv cable, wifi, drainage, water supply, water...",0,0,0,1,0,0,0,0,0,0,0,0,0,1

In [59]:
ds = ds.drop(['Face'], axis=1)

In [60]:
amenities = ds["Amenities"]

In [61]:
all_amenities = set()
for amenity in amenities:
    #print(type(amenity))
    amenity = [x.lower().strip().replace(" ", "_") for x in amenity]
    #print(amenity)
    all_amenities.update(set(amenity))
all_amenities = list(all_amenities)
all_amenities.sort()
all_amenities

['air_condition',
 'backyard',
 'balcony',
 'cafeteria',
 'cctv',
 'deck',
 'drainage',
 'electricity_backup',
 'fencing',
 'frontyard',
 'garage',
 'garden',
 'gym',
 'intercom',
 'internet',
 'jacuzzi',
 'kids_playground',
 'lawn',
 'lift',
 'maintenance',
 'microwave',
 'modular_kitchen',
 'parking',
 'security_staff',
 'solar_water',
 'store_room',
 'swimming_pool',
 'tv_cable',
 'washing_machine',
 'water_supply',
 'water_tank',
 'water_well',
 'wifi']

In [62]:
for col in all_amenities:
    #print(str(col))
    ds["amenity_"+col] = 0

In [63]:
ds.sample(5)

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Year,Area,Road Width,Road Type,Build Area,Amenities,city_bhaktapur,city_butwal,city_chitwan,city_kathmandu,city_kirtipur,city_lalitpur,face_east,face_north,face_north east,face_north west,face_south,face_south east,face_south west,face_west,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
1754,"['sale', 'house']",samakhusi,25500000.0,5,2,3.0,2,NaN,0-3-1-1 Aana,0,nan,N/A Sq. Feet,"[balcony, tv cable, wifi, drainage, water supp...",0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1402,"['sale', 'house']",budhanilkantha,39000000.0,4,4,2.0,3,NaN,10 Aana,13,nan,N/A Sq. Feet,"[balcony, garden, modular kitchen, tv cable, d...",0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
551,"['rent', 'house']",budhanilkantha,100000.0,3,4,2.0,1,NaN,4 Aana,15,blacktopped,N/A Aana,"[frontyard, water supply, water well, modular ...",0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1051,"['rent', 'house']",dhobighat,175000.0,0,0,NaN,0,NaN,2200 Sq. Feet,15,blacktopped,N/A Sq. Feet,[],0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1126,"['sale', 'house']",imadol,19000000.0,4,3,3.0,0,NaN,0-3-0-3 Aana,10,gravelled,N/A Sq. Feet,[],0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [64]:
for index in ds.index:
    amenity_of_property = ds.loc[index, "Amenities"]
    for amenity in amenity_of_property:
        amenity = amenity.strip().replace(" ", "_")
        ds.loc[index,"amenity_"+ amenity] = 1

In [65]:
ds.sample(n=5)

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Year,Area,Road Width,Road Type,Build Area,Amenities,city_bhaktapur,city_butwal,city_chitwan,city_kathmandu,city_kirtipur,city_lalitpur,face_east,face_north,face_north east,face_north west,face_south,face_south east,face_south west,face_west,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
1667,"['sale', 'house']",manamaiju,25000000.0,0,0,3.0,0,NaN,5.5 Aana,13,nan,N/A Sq. Feet,"[balcony, tv cable, drainage, water supply, wa...",0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0
784,"['sale', 'land']",bharatpur,900000.0,0,0,NaN,0,NaN,9 Dhur,10,blacktopped,N/A Sq. Feet,[],0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1932,"['rent', 'house']",sanepa,125000.0,21,18,3.0,2,NaN,0-6-2-0 Aana,12,nan,N/A Sq. Feet,"[balcony, tv cable, wifi, water supply, solar ...",0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,1,0,1
947,"['sale', 'land']",dhapasi,4000000.0,0,0,NaN,0,NaN,0-6-2-0 Aana,12,blacktopped,N/A Aana,[],0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
221,"['sale', 'house']",imadol,13000000.0,4,2,1.5,1,2076.0,0-3-0-0 Aana,13,gravelled,750 Aana,"[drainage, water supply, water tank, parking]",0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,0,0

In [66]:
ds = ds.drop("Amenities", axis=1)

In [67]:
ds.sample(5)

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Year,Area,Road Width,Road Type,Build Area,city_bhaktapur,city_butwal,city_chitwan,city_kathmandu,city_kirtipur,city_lalitpur,face_east,face_north,face_north east,face_north west,face_south,face_south east,face_south west,face_west,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
741,"['sale', 'house']",harisiddhi,35000000.0,18,16,3.0,1,2076.0,0-6-2-0 Aana,12,gravelled,4800 Sq. Feet,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,1,0,0,0,1,1
788,"['sale', 'house', 'bungalow']",budhanilkantha,72000000.0,5,5,3.0,4,2075.0,13 Aana,15,blacktopped,N/A Aana,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,1,1,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0
1970,"['rent', 'house']",budhanilkantha,400000.0,4,5,3.0,10,NaN,3 Ropani,13,nan,N/A Ropani,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,1
514,"['sale', 'house']",mandikatar,27600000.0,7,6,3.0,1,2076.0,4 Aana,13,gravelled,N/A Aana,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0
931,"['rent', 'apartment']",jhamsikhel,40000.0,2,1,12.0,1,NaN,683 Sq. Feet,0,nan,N/A Sq. Feet,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,1,0,1,0,0,1,0,0,0,0,1,1,0,1,1,1,0,0,0,1,0

In [68]:
ds['Road Type'].unique()

array(['blacktopped', 'gravelled', 'concrete', 'paved', 'nan',
       'soil stabilized', 'alley'], dtype=object)

In [69]:
for index in ds.index:
    bedroom = ds.loc[index, "Bedroom"] # read the bedroom column value of index no. index
    bathroom = ds.loc[index, "Bathroom"]
    try:
        if (bedroom == 0 and bathroom == 0):
            ds.loc[index, "Floors"] = 0
    except:
        pass

In [70]:
ds.sample(5)

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Year,Area,Road Width,Road Type,Build Area,city_bhaktapur,city_butwal,city_chitwan,city_kathmandu,city_kirtipur,city_lalitpur,face_east,face_north,face_north east,face_north west,face_south,face_south east,face_south west,face_west,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
1834,"['sale', 'house']",teku,70000000.0,0,0,0.0,5,NaN,1 Ropani,20,blacktopped,N/A Sq. Feet,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,1,0,1
1626,"['sale', 'house']",tokha,60000000.0,0,0,0.0,3,NaN,9 Aana,13,nan,N/A Sq. Feet,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0
675,"['sale', 'house', 'home']",hattigauda,24500000.0,6,5,3.0,1,2076.0,4 Aana,22,gravelled,N/A Aana,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
985,"['sale', 'house', 'home']",swayambhu,41000000.0,17,10,NaN,2,NaN,8.1 Aana,15,blacktopped,N/A Aana,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1,0,1
893,"['sale', 'house']",thaiba,35000000.0,5,4,NaN,2,2069.0,0-6-0-0 Aana,20,blacktopped,2500 Sq. Feet,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [71]:
ds["Floors"].isna().sum()

246

In [72]:
ds[(ds['Bedroom'] == 0) & ( ds['Bathroom'] == 0)]

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Year,Area,Road Width,Road Type,Build Area,city_bhaktapur,city_butwal,city_chitwan,city_kathmandu,city_kirtipur,city_lalitpur,face_east,face_north,face_north east,face_north west,face_south,face_south east,face_south west,face_west,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
19,"['sale', 'house']",kavresthali,10500000.0,0,0,0.0,0,NaN,0-4-0-0 Aana,10,nan,N/A Aana,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,"['sale', 'house']",radhe radhe,22000000.0,0,0,0.0,0,NaN,0-3-2-0 Aana,20,blacktopped,N/A Sq. Feet,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
57,"['sale', 'house']",satungal,42500000.0,0,0,0.0,0,NaN,0-5-1-1 Aana,29,nan,N/A Aana,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
66,"['sale', 'house']",raniban,120000000.0,0,0,0.0,0,NaN,1-15-0-0 Aana,20,nan,N/A Aana,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
71,"['sale', 'house']",mhepi,37000000.0,0,0,0.0,0,NaN,0-5-0-2 Aana,13,blacktopped,N/A Aana,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2196,"['sale', 'land']",pepsicola,4000000.0,0,0,0.0,0,NaN,0-6-0-0 Aana,20,nan,N/A Sq. Feet,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2197,"['sale', 'land']",pepsicola,4000000.0,0,0,0.0,0,NaN,0-4-2-2 Aana,20,nan,N/A Sq. Feet,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2199,"['sale', 'land']",gothatar,2500000.0,0,0,0.0,0,NaN,0-4-2-2 Aana,26,nan,N/A Sq. Feet,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2200,"['sale', 'house']",maitidevi,32500000.0,0,0,0.0,0,NaN,3 Aana,25,nan,N/A Sq. Feet,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,1,0,0,1
2205,"['sale', 'land']",budhanilkantha,2700000.0,0,0,0.0,0,NaN,7-0-2 Aana,12,nan,N/A Sq. Feet,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [73]:
ds['Title'].value_counts()

['sale', 'house']                             746
['sale', 'land']                              592
['rent', 'house']                             165
['sale', 'house', 'bungalow']                 113
['sale', 'house', 'home']                      94
['business', 'sale']                           76
['rent', 'flat']                               70
['rent', 'office']                             36
['rent', 'apartment']                          26
['sale', 'apartment']                          24
['sale', 'house', 'land']                      11
['rent', 'land']                               11
['sell', 'sale', 'house']                       9
['office', 'sale']                              8
['rent', 'house', 'bungalow']                   7
['sale', 'house', 'flat']                       6
['rent', 'flat', 'office']                      5
['business', 'rent']                            5
['sale', 'house', 'building']                   5
['rent', 'flat', 'apartment']                   3
['rent', 'sale', 'house']                       3
['sale', 'house', 'flat', 'home']               3
['rent', 'house', 'home']                       3
['office', 'sale', 'house']                     2
['sale', 'apartment', 'flat']                   2
['sell', 'sale', 'land']                        2
['rent', 'flat', 'house']                       2
['business', 'rent', 'house']                   2
['rent', 'house', 'office']                     1
['business', 'lease', 'land']                   1
['rent', 'sale', 'apartment']                   1
['sell', 'sale', 'house', 'flat']               1
['business', 'rent', 'office']                  1
['lease', 'house', 'building']                  1
['sale', 'house', 'bungalow', 'land']           1
['rent']                                        1
['rent', 'office', 'building']                  1
['sell', 'sale', 'house', 'land']               1
['lease', 'land']                               1
['rent', 'office', 'home']                      1
['rent', 'house', 'apartment', 'building']      1
['business', 'rent', 'building']                1
['business', 'lease']                           1
Name: Title, dtype: Int64

In [104]:
saleable_house = [{'sale', 'house'}, {'house', 'sale', 'bungalow'}, {'sale', 'home', 'house'}, {'sale', 'sell', 'house'}, {'sale', 'land', 'house'}, {'sale', 'building', 'house'}, {'sale', 'bungalow', 'house'}, {'house', 'sale', 'land', 'bungalow'}]

In [106]:
def set_keep_remove(raw_data):
    cleaned = set(raw_data.replace("'", "").strip('][').split(', '))
    print (cleaned)
    pass
    if (cleaned in saleable_house):
        print("Hello")
        return 1
    else:
        return  0

In [107]:
ds["Keep"] = ds['Title'].apply(set_keep_remove)

{'sale', 'house', 'flat'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'flat'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'building'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sell', 'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'rent', 'office'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'building'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'flat'}
{'sale', 'house'}
{'sale', 'house', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sell', 'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sell', 'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'business', 'lease', 'land'}
{'sale', 'land'}
{'rent', 'flat'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'office', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'flat'}
{'sale', 'land'}
{'rent', 'flat'}
{'sale', 'land'}
{'rent', 'house', 'home'}
{'rent', 'flat'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'flat'}
{'sale', 'land'}
{'rent', 'office'}
{'sale', 'land'}
{'rent', 'flat', 'office'}
{'sale', 'land'}
{'rent', 'house', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'office'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'flat'}
{'rent', 'flat', 'office'}
{'sale', 'land'}
{'rent', 'sale', 'apartment'}
{'sale', 'apartment'}
{'sale', 'land'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'apartment', 'flat'}
{'rent', 'apartment'}
{'rent', 'flat'}
{'office', 'sale'}
{'rent', 'house'}
{'sale', 'land'}
{'business', 'rent'}
{'rent', 'flat'}
{'sale', 'land'}
{'rent', 'flat'}
{'rent', 'flat'}
{'sale', 'land'}
{'sale', 'apartment', 'flat'}
{'rent', 'house'}
{'rent', 'house'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'house'}
{'sale', 'land'}
{'rent', 'office', 'building'}
{'business', 'sale'}
{'business', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house', 'flat'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'land'}
{'sale', 'land'}
{'sell', 'sale', 'house', 'flat'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'house', 'home'}
{'sale', 'land'}
{'rent', 'house', 'bungalow'}
{'sale', 'land'}
{'rent', 'flat'}
{'rent', 'office'}
{'rent', 'house'}
{'sale', 'land'}
{'business', 'sale'}
{'sale', 'apartment'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'flat'}
{'sale', 'land'}
{'sale', 'house', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'apartment'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'office', 'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'rent', 'flat', 'office'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'house'}
{'rent', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'flat'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house', 'land'}
{'rent', 'flat'}
{'rent', 'house'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'flat'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'rent', 'flat'}
{'rent', 'flat'}
{'rent', 'flat'}
{'sale', 'land'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'rent', 'office'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'rent', 'house'}
{'rent', 'office'}
{'rent', 'flat'}
{'sale', 'house', 'bungalow'}
{'rent', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'land'}
{'rent', 'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'flat', 'apartment'}
{'rent', 'flat', 'house'}
{'rent', 'house'}
{'sale', 'house'}
{'sale', 'house', 'flat'}
{'sale', 'land'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'business', 'sale'}
{'sale', 'land'}
{'business', 'sale'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'rent', 'house'}
{'rent', 'sale', 'house'}
{'business', 'house', 'rent'}
{'rent', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'business', 'office', 'rent'}
{'sale', 'house'}
{'rent', 'house'}
{'rent', 'flat'}
{'rent', 'office'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'house'}
{'rent', 'office'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'office', 'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'house'}
{'sale', 'house', 'bungalow'}
{'rent', 'flat'}
{'sale', 'house'}
{'business', 'rent'}
{'sale', 'house'}
{'rent', 'flat'}
{'rent', 'house'}
{'rent', 'house'}
{'rent', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'rent', 'house'}
{'rent', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'flat'}
{'rent', 'flat'}
{'sale', 'house'}
{'rent', 'flat'}
{'sale', 'land'}
{'rent', 'flat'}
{'sale', 'house', 'bungalow'}
{'sale', 'land'}
{'rent', 'house'}
{'rent', 'house'}
{'sale', 'house'}
{'rent', 'flat'}
{'rent', 'flat'}
{'rent', 'flat'}
{'rent', 'house'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'flat'}
{'sale', 'land'}
{'rent', 'house'}
{'rent', 'office'}
{'rent', 'house'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'sale', 'land'}
{'sale', 'house', 'flat', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'rent', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'lease', 'house', 'building'}
{'rent', 'flat'}
{'rent', 'apartment'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'rent', 'house'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house', 'home'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'house'}
{'sale', 'house'}
{'rent', 'house'}
{'sale', 'house'}
{'sale', 'apartment'}
{'sale', 'land'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'land', 'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'office', 'sale'}
{'sale', 'land'}
{'sale', 'house', 'home'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'flat', 'apartment'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'apartment'}
{'rent', 'land'}
{'rent', 'office'}
{'rent', 'house'}
{'rent', 'office'}
{'rent', 'house'}
{'sale', 'land'}
{'rent', 'house'}
{'sale', 'land'}
{'rent', 'house'}
{'rent', 'land'}
{'rent', 'land'}
{'rent', 'office'}
{'rent', 'office'}
{'rent', 'house'}
{'sale', 'land'}
{'rent', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'business', 'house', 'rent'}
{'rent', 'house', 'office'}
{'sale', 'land'}
{'rent', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'land'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'apartment'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'flat'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house', 'building'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'rent', 'flat', 'house'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'rent', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'land'}
{'rent', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'apartment'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house', 'home'}
{'rent', 'house', 'bungalow'}
{'sale', 'land'}
{'sale', 'house', 'flat', 'home'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'office', 'sale'}
{'sell', 'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'flat'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'rent', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'rent', 'apartment'}
{'sale', 'house'}
{'rent', 'office'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sell', 'sale', 'house', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'office'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house', 'home'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'rent', 'house'}
{'sale', 'house'}
{'rent', 'house', 'apartment', 'building'}
{'sale', 'house'}
{'rent', 'apartment'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'land'}
{'rent', 'flat'}
{'rent', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house', 'flat', 'home'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'rent', 'house'}
{'rent', 'flat'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house', 'land'}
{'sale', 'house'}
{'sell', 'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'rent', 'apartment'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'flat'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'office'}
{'sale', 'land'}
{'sale', 'house'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'land'}
{'sale', 'house', 'land'}
{'sale', 'land'}
{'sale', 'house', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sell', 'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'rent', 'house'}
{'sale', 'house', 'flat'}
{'sale', 'house', 'land'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'sale', 'house', 'bungalow'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'rent', 'flat'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'business', 'sale'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'rent', 'flat'}
{'sale', 'house', 'home'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'rent', 'house'}
{'rent', 'apartment'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'rent', 'office'}
{'business', 'sale'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house', 'bungalow'}
{'sale', 'land'}
{'sale', 'house', 'land'}
{'sale', 'land'}
{'sale', 'house', 'bungalow'}
{'rent', 'apartment'}
{'rent', 'house'}
{'rent', 'office'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'house', 'bungalow'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'rent', 'house'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'land'}
{'rent', 'office'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'house', 'home'}
{'sale', 'house'}
{'sale', 'land'}
{'office', 'sale'}
{'rent', 'apartment'}
{'sale', 'house', 'bungalow'}
{'rent', 'flat', 'office'}
{'sale', 'land'}
{'rent', 'flat'}
{'sale', 'house', 'home'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'office'}
{'sale', 'house'}
{'sale', 'land'}
{'business', 'rent', 'building'}
{'sale', 'land'}
{'rent', 'flat'}
{'rent', 'office'}
{'sale', 'land'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}
{'rent', 'flat'}
{'sale', 'house'}
{'sale', 'house'}
{'sell', 'sale', 'house'}
{'sale', 'house'}
{'sale', 'house'}

In [103]:
ds.head()

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Year,Area,Road Width,Road Type,Build Area,city_bhaktapur,city_butwal,city_chitwan,city_kathmandu,city_kirtipur,city_lalitpur,face_east,face_north,face_north east,face_north west,face_south,face_south east,face_south west,face_west,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi,Keep
0,"['sale', 'house', 'flat']",budhanilkantha,90000000.0,6,3,2.0,10,2073.0,1-0-0-0 Aana,20,blacktopped,18-0-0-0 Aana,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,1,0,1,1,1,1,0,0,0,0,0,1,0,0,0,1,1,0,1,0,0,1,0,1,1,1,1,0
1,"['sale', 'house']",budhanilkantha,80000000.0,5,3,2.0,9,2073.0,0-21-0-0 Aana,20,blacktopped,0-14-0-0 Aana,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,1,1,1,1,0,0,0,0,0,0,0,0,0,1,1,0,1,0,0,1,0,1,1,1,1,1
2,"['sale', 'house']",dhapasi,70000000.0,5,3,2.0,12,2071.0,1-1-0-0 Aana,20,blacktopped,10-1-0-0 Aana,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,1,1,1,1,0,0,0,0,0,1,0,0,0,1,1,0,1,0,0,1,0,1,1,1,1,1
3,"['sale', 'house', 'bungalow']",baluwatar,130000000.0,6,4,3.0,9,2017.0,0-10-1-0 Aana,20,blacktopped,0-7-1-0 Aana,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0,0,1,0,1,1,1,1,0,0,0,0,0,1,0,0,0,1,1,0,1,0,0,1,0,1,1,1,1,0
4,"['sale', 'house', 'bungalow']",golfutar,100000000.0,6,3,2.0,10,2070.0,0-19-2-0 Aana,20,blacktopped,0-14-2-0 Aana,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,1,0,1,1,1,1,0,0,0,0,0,1,0,0,0,1,1,0,1,0,0,1,0,1,1,1,1,0