# Data Cleaning for Home Value Prediction

In [1]:
import pandas as pd
import json
import numpy as np

In [2]:
pd.set_option('display.max_columns', None)

This line reads the CSV file with our dataset

In [3]:
ds = pd.read_csv("./dataset.csv")

In [4]:
ds.sample(n=5)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Views,Area,Road,Road Width,Road Type,Build Area,Posted,Amenities
1656,"House For Sale In Imadol, Lalitpur","Near Pawan Prakriti School, Imadol, Lalitpur",Lalitpur,14200000.0,2,1,1.0,4,East,2074.0,531,3.5 Aana,20 Feet / Gravelled,20 Feet,Gravelled,N/A Aana,11 months ago,[]
1186,Chapali Vangal House In Sell : House For Sale ...,"Sundarbasti, Bhangal, Kathmandu",Kathmandu,21000000.0,5,4,2.0,2,West,NaN,490,3.5 Aana,13 Feet / Gravelled,13 Feet,Gravelled,3 Aana,8 months ago,['Modular Kitchen']
1440,"House For Rent In Kuleshwor, Kathmandu","Kuleshwor, Kuleshwor, Kathmandu",Kathmandu,150000.0,5,4,3.0,0,South East,NaN,254,1 Ropani,15 Feet,15 Feet,NaN,N/A Sq. Feet,10 months ago,"['Lawn', 'Garden', 'TV Cable', 'Drainage', 'Wa..."
1793,"Flat For Rent In Lazimpat, Kathmandu","Lazimpat., Lazimpat, Kathmandu",Kathmandu,40000.0,3,1,NaN,0,South West,NaN,628,1200 Sq. Feet,0 Feet,0 Feet,NaN,N/A Sq. Feet,1 year ago,[]
5,Beautiful Bungalow House : House For Sale In B...,"Banasthali, Banasthali, Kathmandu",Kathmandu,100000000.0,5,6,3.0,9,East,2074.0,92,0-12-3-1 Aana,13 Feet / Blacktopped,13 Feet,Blacktopped,0-8-3-1 Aana,3 days ago,"['Parking', 'Lawn', 'Garage', 'Balcony', 'Back..."

In [5]:
important_terms_on_property = {'house', 'rent', 'sale','lease', 'sell' ,'home', 'office', 'land', 'bungalow', 'building', 'apartment', 'flat', 'business' }

In [6]:
# ds.sample(n=5)

In [7]:
ds['Title'] = ds['Title'].astype('string')
for index in ds.index:
    #print(index)
    data_title_ = str(ds.loc[index, 'Title'])
    data_title = data_title_.lower().strip().split(' ').copy()
    set_title = set(data_title)
    
    common = set_title.intersection(important_terms_on_property)
    common = list(common)
    if (len (important_terms_on_property.intersection(set_title)) != 0):
        ds.loc[index, 'Title'] = str(common)

In [8]:
ds.sample(n=10)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Views,Area,Road,Road Width,Road Type,Build Area,Posted,Amenities
1979,"['house', 'sale']","Sundarbasti, Budhanilkantha, Kathmandu",Kathmandu,19200000.0,5,4,3.0,3,East,NaN,388,4 Sq. Feet,13 Feet,13 Feet,NaN,N/A Sq. Feet,1 year ago,"['Balcony', 'TV Cable', 'Wifi', 'Drainage', 'W..."
351,"['sale', 'land']","Nearby Hilary School., Gaurighat, Kathmandu",Kathmandu,8000000.0,0,0,NaN,0,East,NaN,1.4K,1-0-0-0 Ropani,11 Meter / Blacktopped,11 Meter,Blacktopped,N/A Sq. Feet,3 months ago,"['Drainage', 'Water Supply', 'Parking', 'Secur..."
1489,"['house', 'sale']","Sukedhara, Sukedhara, Kathmandu",Kathmandu,170000000.0,0,0,NaN,0,North,NaN,408,19 Aana,20 Feet,20 Feet,NaN,N/A Sq. Feet,10 months ago,[]
1425,"['sale', 'land']","madhyapur thimi, Madhyapur Thimi, Bhaktapur",Bhaktapur,2200000.0,0,0,NaN,0,South West,NaN,390,04 Aana,13 Feet / Gravelled,13 Feet,Gravelled,N/A Aana,10 months ago,[]
1676,"['sale', 'land']","Balaju Bypass, Balaju, Kathmandu",Kathmandu,4500000.0,0,0,NaN,0,West,NaN,310,0-9-2-1 Aana,16 Feet,16 Feet,NaN,N/A Sq. Feet,11 months ago,[]
626,"['house', 'sale']","Dhumbarahi, Inside Ring Road, Dhumbarahi, Kath...",Kathmandu,75000000.0,0,4,2.0,0,East,NaN,357,0-11-0-0 Aana,18 Feet / Blacktopped,18 Feet,Blacktopped,N/A Aana,4 months ago,"['Lawn', 'Garage', 'Air Condition', 'Backyard'..."
1121,"['house', 'sale']","Jyoti Nagar Road, Kapan, Kathmandu",Kathmandu,26500000.0,11,5,3.0,0,East,NaN,253,4 Aana,13 Feet / Blacktopped,13 Feet,Blacktopped,N/A Sq. Feet,8 months ago,[]
1855,"['house', 'sale']","Jorpati Nayabasti, Jorpati, Kathmandu",Kathmandu,12000000.0,4,0,1.0,0,East,NaN,623,3.2 Aana,12 Feet / Soil Stabilized,12 Feet,Soil Stabilized,N/A Sq. Feet,1 year ago,[]
192,"['sale', 'land']","Raniban, Raniban, Kathmandu",Kathmandu,2850000.0,0,0,NaN,0,South East,NaN,303,0-5-1-0 Aana,12 Feet,12 Feet,NaN,N/A Aana,1 month ago,[]
665,"['home', 'house', 'sale']","Na, Budhanilkantha, Kathmandu",Kathmandu,29000000.0,5,5,3.0,2,South,2075.0,180,5 Aana,14 Feet / Gravelled,14 Feet,Gravelled,N/A Aana,4 months ago,"['Garden', 'Water Supply', 'Solar Water', 'Dra..."

In [9]:
ds = ds.drop(["Posted", "Views", "Road"], axis=1) # List dataset <=> Array

In [10]:
ds.sample(2)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
773,"['sale', 'land']","27.7154959, 85.1985274, Nagdhunga, Kathmandu",Kathmandu,600000.0,0,0,NaN,0,South East,NaN,58 Aana,18 Feet,Blacktopped,N/A Aana,[]
1798,"['house', 'sale']","Khokana Dobato, Bhaisepati, Lalitpur",Lalitpur,39077000.0,4,4,3.0,1,South,2076.0,0-8-2-0 Aana,16 Feet,Concrete,2300 Sq. Feet,"['Balcony', 'Fencing', 'Garden', 'TV Cable', '..."

In [11]:
def extract_area_from_string(raw_data):
    raw_data = str(raw_data)
    #print(raw_data)
    if (len(raw_data) > 3):
        try:
            raw_data = raw_data.split(",")
            #print(raw_data[-2].strip().lower())
            return (raw_data[-2].strip().lower())
        except:
            pass
    return ("")

In [12]:
ds["Address"] = ds["Address"].astype("string")

In [13]:
ds["Address"] = ds["Address"].apply(extract_area_from_string)

In [14]:
ds.sample(3)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
1813,"['house', 'rent']",bhaisepati,Lalitpur,150000.0,5,3,3.0,3,South,NaN,12 Sq. Feet,15 Feet,NaN,N/A Sq. Feet,"['Balcony', 'Garden', 'TV Cable', 'Drainage', ..."
2129,"['house', 'sale', 'building']",pepsicola,Kathmandu,110000000.0,0,13,5.0,12,South East,2073.0,0-11-0-0 Aana,23 Feet,NaN,11000 Sq. Feet,"['Drainage', 'Water Supply']"
1343,"['business', 'sale']",putalisadak,Kathmandu,1800000.0,0,0,NaN,0,West,NaN,700 Sq. Feet,15 Feet,Blacktopped,N/A Sq. Feet,[]

In [15]:
ds["City"] = ds["City"].apply(lambda x : str(x).lower())

In [16]:
ds.sample(4)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
1476,"['business', 'sale']",thamel,kathmandu,3000000.0,0,0,NaN,0,North,NaN,600 Sq. Feet,15 Feet,Blacktopped,N/A Sq. Feet,[]
1920,"['sale', 'land']",nawalparasi,nawalparasi,1300000.0,0,0,NaN,0,West,NaN,9 Kattha,20 Feet,Gravelled,N/A Sq. Feet,[]
126,"['flat', 'rent']",maharajgunj,kathmandu,32000.0,2,2,5.0,0,West,NaN,1000 Sq. Feet,10 Feet,NaN,N/A Aana,[]
159,"['sale', 'office']",thapathali,kathmandu,290000.0,0,1,1.0,1,East,NaN,900 Sq. Feet,12 Feet,Paved,N/A Aana,"['Parking', 'TV Cable', 'Wifi', 'Internet', 'S..."

In [17]:
ds["Face"] = ds["Face"].apply(lambda x: str(x).lower())

In [18]:
ds.sample(5)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
384,"['house', 'rent']",gatthaghar,bhaktapur,60000.0,5,0,0.0,6,north,NaN,500 Sq. Feet,20 Feet,Blacktopped,200 Sq. Feet,"['Balcony', 'Modular Kitchen', 'Wifi', 'Water ..."
1658,"['business', 'sale']",koteshwor,kathmandu,1000000.0,0,0,NaN,0,north,NaN,700 Sq. Feet,13 Feet,Blacktopped,N/A Sq. Feet,[]
1559,"['house', 'sale']",basundhara,kathmandu,30000000.0,0,0,3.0,0,east,NaN,6 Aana,12 Feet,NaN,N/A Sq. Feet,"['Balcony', 'TV Cable', 'Drainage', 'Water Sup..."
48,"['home', 'house', 'sale']",budhanilkantha,kathmandu,28000000.0,6,6,3.0,1,south east,2076.0,4 Aana,13 Feet,Blacktopped,N/A Aana,['Parking']
899,"['house', 'sale']",chhauni,kathmandu,46000000.0,5,4,NaN,2,south west,2074.0,0-7-0-0 Aana,13 Feet,Blacktopped,3000 Sq. Feet,"['Water Supply', 'Solar Water', 'Water Tank', ..."

In [19]:
ds["Road Width"].unique()

array(['20 Feet ', '13 Feet ', '11 Feet ', '12 Feet ', '15 Feet ',
       '14 Feet ', '13 Feet', '0 Feet', '10 Feet', '10 Feet ', '32 Feet',
       '16 Feet ', '18 Feet ', '15 Feet', '26 Feet ', '6 Meter ',
       '29 Feet', '20 Feet', '6 Meter', '12 Feet', '22 Feet', '40 Feet ',
       '16 Feet', '11 Feet', '30 Feet ', '58 Feet ', '26 Feet',
       '35 Feet ', '18 Feet', '7 Meter ', '14 Feet', '25 Feet',
       '72 Feet ', '20 Meter ', '9 Meter ', '0 Feet ', '25 Feet ',
       '40 Feet', '22 Feet ', '36 Feet', '11 Meter ', '30 Feet',
       '45 Feet ', '3 Feet', '6 Feet', '30 Meter ', '500 Meter',
       '300 Feet', '500 Feet', '300 Meter', '28 Feet', '4 Meter ',
       '24 Feet ', '4 Feet', '23 Feet ', '8 Feet ', '0 Meter ',
       '50 Feet ', '19 Meter ', '7 Feet ', '150 Meter ', '21 Feet',
       '28 Feet ', '32 Feet ', '50 Meter ', '1 Meter ', '4 Feet ',
       '1 Feet ', '400 Feet ', '17 Meter ', '210 Feet ', '25 Meter ',
       '22 Meter ', '8 Meter ', '60 Feet ', '5 Meter ', '10 Meter ',
       '33 Feet ', '5 Feet ', '9 Feet ', '8 Meter', '33 Feet', '42 Feet ',
       '66 Feet ', '17 Feet ', '1 Feet', '55 Feet', '24 Feet', '52 Feet ',
       '21 Feet ', '36 Feet ', '9 Feet', '7 Feet', '31 Feet', '23 Feet',
       '11 Meter', '3.5 Meter', '4 Meter', '17 Feet', '9 Meter'],
      dtype=object)

In [20]:
ds["Road Width"] = ds["Road Width"].astype("string")

In [21]:
ds.sample(4)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
1435,"['home', 'house', 'sale']",bafal,kathmandu,13500000.0,0,2,NaN,0,east,NaN,2-2 Aana,12 Feet,NaN,N/A Aana,[]
2136,"['house', 'rent']",sanepa,lalitpur,100000.0,7,3,3.0,2,north east,NaN,8 Aana,15 Feet,NaN,N/A Sq. Feet,"['Lawn', 'Garage', 'Balcony', 'Deck', 'Fencing..."
2003,"['house', 'sale']",sitapaila,kathmandu,45000000.0,5,5,3.0,4,east,NaN,9 Aana,12 Feet,NaN,N/A Sq. Feet,"['Balcony', 'TV Cable', 'Wifi', 'Drainage', 'W..."
355,"['business', 'sale']",samakhusi,kathmandu,750000.0,0,0,NaN,0,east,NaN,4 Aana,0 Feet,NaN,N/A Aana,[]

In [22]:
ds["Road Width"] = ds["Road Width"].apply(lambda x : str(x).strip().lower())

In [23]:
ds.sample(4)

,Title,Address,City,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
1282,"['sale', 'land']",narayanpur,chitwan,270000.0,0,0,NaN,0,west,NaN,0-8-5-0 Dhur,6 meter,Gravelled,N/A Sq. Feet,[]
2105,"['sale', 'land']",budhanilkantha,kathmandu,2600000.0,0,0,NaN,0,north east,NaN,0-4-0-0 Aana,20 feet,NaN,N/A Sq. Feet,[]
1162,"['house', 'sale', 'bungalow']",hattigauda,kathmandu,90000000.0,6,6,3.0,4,east,2069.0,20 Aana,15 feet,Blacktopped,N/A Aana,"['Garage', 'Balcony', 'Lawn', 'Backyard', 'Fro..."
906,"['house', 'sale']",mid baneshwor,kathmandu,35000000.0,0,0,NaN,0,north,NaN,0-3-5-0 Aana,13 feet,Blacktopped,N/A Sq. Feet,[]

In [24]:
ds["Road Width"].unique()

array(['20 feet', '13 feet', '11 feet', '12 feet', '15 feet', '14 feet',
       '0 feet', '10 feet', '32 feet', '16 feet', '18 feet', '26 feet',
       '6 meter', '29 feet', '22 feet', '40 feet', '30 feet', '58 feet',
       '35 feet', '7 meter', '25 feet', '72 feet', '20 meter', '9 meter',
       '36 feet', '11 meter', '45 feet', '3 feet', '6 feet', '30 meter',
       '500 meter', '300 feet', '500 feet', '300 meter', '28 feet',
       '4 meter', '24 feet', '4 feet', '23 feet', '8 feet', '0 meter',
       '50 feet', '19 meter', '7 feet', '150 meter', '21 feet',
       '50 meter', '1 meter', '1 feet', '400 feet', '17 meter',
       '210 feet', '25 meter', '22 meter', '8 meter', '60 feet',
       '5 meter', '10 meter', '33 feet', '5 feet', '9 feet', '42 feet',
       '66 feet', '17 feet', '55 feet', '52 feet', '31 feet', '3.5 meter'],
      dtype=object)

In [25]:
def meter_to_feet(data):
    data = str(data)
    try:
        data = data.split(" ")
        if (data[-1] == "meter"):
            return int(int(data[0]) * 3.281)
        else:
            return int(data[0])
    except:
        pass
    return 0

In [26]:
ds["Road Width"] = ds["Road Width"].apply(meter_to_feet)

In [27]:
ds.sample(5)
ds.describe()

,Price,Bedroom,Bathroom,Floors,Parking,Year,Road Width
count,2.211000e+03,2211.000000,2211.000000,1039.000000,2211.000000,582.000000,2211.000000
mean,4.064428e+11,2.731796,1.871099,2.824206,1.007689,2057.780069,18.204432
std,7.564268e+12,4.174364,2.635836,1.265411,2.094905,26.098577,56.726396
min,1.500000e+01,0.000000,0.000000,0.000000,0.000000,1994.000000,0.000000
25%,1.300000e+06,0.000000,0.000000,2.000000,0.000000,2020.000000,13.000000
50%,8.000000e+06,0.000000,0.000000,3.000000,0.000000,2074.000000,15.000000
75%,2.650000e+07,5.000000,4.000000,3.000000,1.000000,2076.000000,20.000000
max,2.160000e+14,95.000000,40.000000,13.000000,31.000000,2077.000000,1640.000000

In [28]:
ds["Road Width"] = ds["Road Width"].astype("int")

In [29]:
ds["Road Width"].unique()

array([  20,   13,   11,   12,   15,   14,    0,   10,   32,   16,   18,
         26,   19,   29,   22,   40,   30,   58,   35,   25,   72,   65,
         36,   45,    3,    6,   98, 1640,  300,  500,  984,   28,   24,
          4,   23,    8,   50,   62,    7,  492,   21,  164,    1,  400,
         55,  210,   82,   60,   33,    5,    9,   42,   66,   17,   52,
         31])

In [30]:
ds["Road Type"] = ds["Road Type"].apply(lambda x: str(x).lower())

In [31]:
ds.sample(4)
ds.describe()

,Price,Bedroom,Bathroom,Floors,Parking,Year,Road Width
count,2.211000e+03,2211.000000,2211.000000,1039.000000,2211.000000,582.000000,2211.000000
mean,4.064428e+11,2.731796,1.871099,2.824206,1.007689,2057.780069,18.204432
std,7.564268e+12,4.174364,2.635836,1.265411,2.094905,26.098577,56.726396
min,1.500000e+01,0.000000,0.000000,0.000000,0.000000,1994.000000,0.000000
25%,1.300000e+06,0.000000,0.000000,2.000000,0.000000,2020.000000,13.000000
50%,8.000000e+06,0.000000,0.000000,3.000000,0.000000,2074.000000,15.000000
75%,2.650000e+07,5.000000,4.000000,3.000000,1.000000,2076.000000,20.000000
max,2.160000e+14,95.000000,40.000000,13.000000,31.000000,2077.000000,1640.000000

In [32]:
ds["City"].unique()

array(['kathmandu', 'lalitpur', 'pokhara', 'bhaktapur', 'chitwan',
       'butwal', 'bara', 'birtamod', 'dharan', 'sunsari', 'makwanpur',
       'nawalpur', 'kirtipur', 'biratnagar', 'parsa', 'itahari', 'jhapa',
       'mahottari', 'dhading', 'bardiya', 'morang', 'dang', 'kavre',
       'kaski', 'surkhet', 'bhairahawa', 'kapilvastu', 'rupandehi',
       'tanahu', 'illam', 'nawalparasi', 'kailali'], dtype=object)

In [33]:
# important_cities = ['kathmandu', 'lalitpur', 'bhaktapur', 'chitwan', 'butwal', 'kirtipur']
important_cities = ['kathmandu']

In [34]:
#"chitwan" in important_cities

In [35]:
ds = ds[ds['City'].isin(important_cities)]
ds.describe()

,Price,Bedroom,Bathroom,Floors,Parking,Year,Road Width
count,1.483000e+03,1483.000000,1483.000000,728.000000,1483.000000,401.000000,1483.000000
mean,3.568617e+11,3.008092,2.031018,2.929258,1.119353,2061.014963,15.998651
std,7.357471e+12,4.522541,2.665896,1.094633,2.255878,24.118557,26.892825
min,9.000000e+01,0.000000,0.000000,0.000000,0.000000,1994.000000,0.000000
25%,2.000000e+06,0.000000,0.000000,2.500000,0.000000,2065.000000,13.000000
50%,1.400000e+07,2.000000,0.000000,3.000000,0.000000,2074.000000,14.000000
75%,3.250000e+07,5.000000,4.000000,3.000000,2.000000,2076.000000,20.000000
max,2.160000e+14,95.000000,40.000000,12.000000,31.000000,2077.000000,984.000000

In [36]:
ds["City"].unique()

array(['kathmandu'], dtype=object)

In [37]:
ds['City'].isna().sum()

0

In [38]:
ds["Road Type"] = ds["Road Type"].apply(lambda x: str(x).strip())

In [39]:
ds['Road Type'].unique()

array(['blacktopped', 'concrete', 'paved', 'gravelled', 'nan',
       'soil stabilized', 'alley'], dtype=object)

In [40]:
ds['City'].value_counts()

City
kathmandu    1483
Name: count, dtype: int64

In [41]:
ds['City'].count()
ds.describe()

,Price,Bedroom,Bathroom,Floors,Parking,Year,Road Width
count,1.483000e+03,1483.000000,1483.000000,728.000000,1483.000000,401.000000,1483.000000
mean,3.568617e+11,3.008092,2.031018,2.929258,1.119353,2061.014963,15.998651
std,7.357471e+12,4.522541,2.665896,1.094633,2.255878,24.118557,26.892825
min,9.000000e+01,0.000000,0.000000,0.000000,0.000000,1994.000000,0.000000
25%,2.000000e+06,0.000000,0.000000,2.500000,0.000000,2065.000000,13.000000
50%,1.400000e+07,2.000000,0.000000,3.000000,0.000000,2074.000000,14.000000
75%,3.250000e+07,5.000000,4.000000,3.000000,2.000000,2076.000000,20.000000
max,2.160000e+14,95.000000,40.000000,12.000000,31.000000,2077.000000,984.000000

In [42]:
# df1 = pd.get_dummies(ds['City'], prefix="city")

In [43]:
# df1.head()

In [44]:
# ds = pd.concat([ds,df1], axis=1)

In [45]:
ds = ds.drop(["City"], axis=1)

In [46]:
ds.sample(5)

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
222,"['house', 'sale']",satungal,42500000.0,28,0,5.0,0,east,NaN,0-5-1-1 Aana,29,nan,0-5-1 Aana,"['TV Cable', 'Drainage', 'Balcony', 'Water Sup..."
2009,"['house', 'sale']",kadaghari,36000000.0,6,4,3.5,3,south east,NaN,3.2 Aana,13,nan,N/A Sq. Feet,"['Balcony', 'TV Cable', 'Wifi', 'Drainage', 'W..."
17,"['house', 'sale']",thankot,18500000.0,4,4,NaN,3,south,NaN,6 Aana,13,nan,N/A Aana,['Parking']
745,"['sale', 'land']",koteshwor,4500000.0,0,0,NaN,0,south,NaN,0-5-2-0 Aana,12,blacktopped,N/A Aana,[]
1161,"['house', 'sale']",mulpani,17500000.0,6,2,3.0,1,east,2007.0,11 Aana,20,gravelled,4 Aana,"['Balcony', 'Backyard', 'TV Cable', 'Water Sup..."

In [47]:
#ds["Address"].unique()

In [48]:
len(ds['Address'].unique())

141

In [49]:
ds['Address'] = ds['Address'].astype('category')

In [50]:
ds.sample(5)

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Face,Year,Area,Road Width,Road Type,Build Area,Amenities
1225,"['sale', 'land']",maharajgunj,4500000.0,0,0,NaN,0,east,NaN,5/10/20 Aana,20,blacktopped,N/A Aana,[]
1850,"['house', 'sale']",jorpati,11400000.0,0,0,1.0,0,south,NaN,3 Aana,13,gravelled,N/A Sq. Feet,"['TV Cable', 'Wifi', 'Drainage', 'Water Supply..."
1457,"['sale', 'land']",sankhamul,4500000.0,0,0,NaN,0,south east,NaN,4 Aana,26,nan,N/A Sq. Feet,[]
537,"['sale', 'land']",budhanilkantha,2300000.0,0,0,NaN,0,east,NaN,5.5 Aana,13,nan,N/A Aana,[]
1526,"['house', 'sale']",pasikot,13800000.0,2,1,NaN,0,east,NaN,0-4-3-0 Ropani,12,soil stabilized,N/A Aana,"['Garage', 'Wifi', 'Drainage', 'Water Well', '..."

In [51]:
ds.describe()
amenities = ds["Amenities"].copy()

In [52]:
def convert_amenities_to_list(amenity):
    amenity = amenity.strip('][').replace("'", "").split(", ")
    amenity = [x.lower() for x in amenity]
    if (not amenity[0] == ''):
        return amenity
    else:
        return([])

In [53]:
ds['Amenities'] = ds['Amenities'].apply(convert_amenities_to_list)

In [54]:
ds.sample(5)
ds.describe()

,Price,Bedroom,Bathroom,Floors,Parking,Year,Road Width
count,1.483000e+03,1483.000000,1483.000000,728.000000,1483.000000,401.000000,1483.000000
mean,3.568617e+11,3.008092,2.031018,2.929258,1.119353,2061.014963,15.998651
std,7.357471e+12,4.522541,2.665896,1.094633,2.255878,24.118557,26.892825
min,9.000000e+01,0.000000,0.000000,0.000000,0.000000,1994.000000,0.000000
25%,2.000000e+06,0.000000,0.000000,2.500000,0.000000,2065.000000,13.000000
50%,1.400000e+07,2.000000,0.000000,3.000000,0.000000,2074.000000,14.000000
75%,3.250000e+07,5.000000,4.000000,3.000000,2.000000,2076.000000,20.000000
max,2.160000e+14,95.000000,40.000000,12.000000,31.000000,2077.000000,984.000000

In [55]:
# face_dummies = pd.get_dummies(ds["Face"],prefix="face")

In [56]:
# face_dummies

In [57]:
# ds = pd.concat([ds,face_dummies], axis=1)

In [58]:
# ds.sample(5)

In [59]:
ds = ds.drop(['Face'], axis=1)

In [60]:
amenities = ds["Amenities"]

In [88]:
all_amenities = set()
for amenity in amenities:
    #print(type(amenity))
    amenity = [x.lower().strip().replace(" ", "_") for x in amenity]
    #print(amenity)
    all_amenities.update(set(amenity))
all_amenities = list(all_amenities)
all_amenities.sort()
all_amenities

In [62]:
for col in all_amenities:
    #print(str(col))
    ds["amenity_"+col] = 0

In [87]:
ds.sample(5)
# ds.describe()

,Address,Price,Bedroom,Bathroom,Floors,Parking,Year,Area,Road Width,Road Type,Build Area,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
804,gongabu,20000000.0,0,0,0.0,2,2076.0,3 Aana,14,gravelled,3 Aana,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0
1104,kapan,29000000.0,18,0,4.0,0,NaN,0-4-1-0 Aana,32,gravelled,N/A Sq. Feet,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37,hattigauda,26500000.0,6,6,3.0,2,2075.0,5 Aana,14,blacktopped,N/A Aana,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
1736,dhapasi,23500000.0,3,3,2.0,0,NaN,4+ Aana,20,nan,N/A Sq. Feet,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0
1751,sitapaila,17000000.0,4,4,3.0,0,NaN,3.1 Aana,0,nan,N/A Sq. Feet,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,1

In [64]:
for index in ds.index:
    amenity_of_property = ds.loc[index, "Amenities"]
    for amenity in amenity_of_property:
        amenity = amenity.strip().replace(" ", "_")
        ds.loc[index,"amenity_"+ amenity] = 1

In [65]:
ds.sample(n=5)

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Year,Area,Road Width,Road Type,Build Area,Amenities,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
1673,"['house', 'sale']",budhanilkantha,25000000.0,0,0,NaN,1,NaN,4 Aana,13,nan,N/A Sq. Feet,"[balcony, tv cable, drainage, water supply, wa...",0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,0
584,"['home', 'house', 'sale']",tokha,21000000.0,6,6,3.0,1,2074.0,3 Aana,13,paved,N/A Aana,[garage],0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
266,"['house', 'sale']",budhanilkantha,22500000.0,4,3,3.0,1,2076.0,0-3-0-3 Aana,15,gravelled,N/A Aana,"[parking, lawn, garage, backyard, garden, fron...",0,1,1,1,1,1,1,1,1,1,1,1,0,1,1,0,0,1,0,0,1,1,1,0,1,0,0,1,1,1,1,1,1
2011,"['house', 'sale']",kadaghari,12000000.0,4,1,1.0,2,NaN,3 Aana,13,nan,N/A Sq. Feet,"[tv cable, wifi, drainage, water supply, water...",0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,0,1
1185,"['house', 'sale']",kirtipur,15000000.0,0,0,NaN,0,NaN,3 Aana,10,blacktopped,N/A Sq. Feet,[],0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [66]:
ds = ds.drop("Amenities", axis=1)

In [67]:
ds.sample(5)
ds.describe()

,Price,Bedroom,Bathroom,Floors,Parking,Year,Road Width,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
count,1.483000e+03,1483.000000,1483.000000,728.000000,1483.000000,401.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000
mean,3.568617e+11,3.008092,2.031018,2.929258,1.119353,2061.014963,15.998651,0.067431,0.113958,0.363452,0.012812,0.031693,0.058665,0.399191,0.074848,0.117330,0.146999,0.183412,0.191504,0.021578,0.023601,0.104518,0.003372,0.047876,0.100472,0.008766,0.007417,0.056642,0.183412,0.180715,0.018881,0.207013,0.064734,0.017532,0.294673,0.068105,0.426837,0.354012,0.162508,0.242751
std,7.357471e+12,4.522541,2.665896,1.094633,2.255878,24.118557,26.892825,0.250851,0.317868,0.481156,0.112500,0.175239,0.235076,0.489897,0.263235,0.321921,0.354225,0.387134,0.393617,0.145350,0.151853,0.306034,0.057987,0.213576,0.300730,0.093247,0.085833,0.231235,0.387134,0.384911,0.136149,0.405301,0.246138,0.131287,0.456049,0.252011,0.494785,0.478374,0.369041,0.428891
min,9.000000e+01,0.000000,0.000000,0.000000,0.000000,1994.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000e+06,0.000000,0.000000,2.500000,0.000000,2065.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.400000e+07,2.000000,0.000000,3.000000,0.000000,2074.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.250000e+07,5.000000,4.000000,3.000000,2.000000,2076.000000,20.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,2.160000e+14,95.000000,40.000000,12.000000,31.000000,2077.000000,984.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [68]:
ds['Road Type'].unique()

array(['blacktopped', 'concrete', 'paved', 'gravelled', 'nan',
       'soil stabilized', 'alley'], dtype=object)

In [69]:
for index in ds.index:
    bedroom = ds.loc[index, "Bedroom"] # read the bedroom column value of index no. index
    bathroom = ds.loc[index, "Bathroom"]
    try:
        if (bedroom == 0 and bathroom == 0):
            ds.loc[index, "Floors"] = 0
    except:
        pass

In [70]:
ds.sample(5)
ds.describe()

,Price,Bedroom,Bathroom,Floors,Parking,Year,Road Width,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
count,1.483000e+03,1483.000000,1483.000000,1317.000000,1483.000000,401.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000
mean,3.568617e+11,3.008092,2.031018,1.413060,1.119353,2061.014963,15.998651,0.067431,0.113958,0.363452,0.012812,0.031693,0.058665,0.399191,0.074848,0.117330,0.146999,0.183412,0.191504,0.021578,0.023601,0.104518,0.003372,0.047876,0.100472,0.008766,0.007417,0.056642,0.183412,0.180715,0.018881,0.207013,0.064734,0.017532,0.294673,0.068105,0.426837,0.354012,0.162508,0.242751
std,7.357471e+12,4.522541,2.665896,1.633566,2.255878,24.118557,26.892825,0.250851,0.317868,0.481156,0.112500,0.175239,0.235076,0.489897,0.263235,0.321921,0.354225,0.387134,0.393617,0.145350,0.151853,0.306034,0.057987,0.213576,0.300730,0.093247,0.085833,0.231235,0.387134,0.384911,0.136149,0.405301,0.246138,0.131287,0.456049,0.252011,0.494785,0.478374,0.369041,0.428891
min,9.000000e+01,0.000000,0.000000,0.000000,0.000000,1994.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000e+06,0.000000,0.000000,0.000000,0.000000,2065.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.400000e+07,2.000000,0.000000,0.000000,0.000000,2074.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.250000e+07,5.000000,4.000000,3.000000,2.000000,2076.000000,20.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,2.160000e+14,95.000000,40.000000,12.000000,31.000000,2077.000000,984.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [71]:
ds["Floors"].isna().sum()

166

In [72]:
ds[(ds['Bedroom'] == 0) & ( ds['Bathroom'] == 0)]

,Title,Address,Price,Bedroom,Bathroom,Floors,Parking,Year,Area,Road Width,Road Type,Build Area,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
19,"['house', 'sale']",kavresthali,10500000.0,0,0,0.0,0,NaN,0-4-0-0 Aana,10,nan,N/A Aana,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
57,"['house', 'sale']",satungal,42500000.0,0,0,0.0,0,NaN,0-5-1-1 Aana,29,nan,N/A Aana,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
66,"['house', 'sale']",raniban,120000000.0,0,0,0.0,0,NaN,1-15-0-0 Aana,20,nan,N/A Aana,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
71,"['house', 'sale']",mhepi,37000000.0,0,0,0.0,0,NaN,0-5-0-2 Aana,13,blacktopped,N/A Aana,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
72,"['house', 'sale']",pasikot,36000000.0,0,0,0.0,0,NaN,0-7-2-0 Aana,20,nan,N/A Aana,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2196,"['sale', 'land']",pepsicola,4000000.0,0,0,0.0,0,NaN,0-6-0-0 Aana,20,nan,N/A Sq. Feet,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2197,"['sale', 'land']",pepsicola,4000000.0,0,0,0.0,0,NaN,0-4-2-2 Aana,20,nan,N/A Sq. Feet,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2199,"['sale', 'land']",gothatar,2500000.0,0,0,0.0,0,NaN,0-4-2-2 Aana,26,nan,N/A Sq. Feet,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2200,"['house', 'sale']",maitidevi,32500000.0,0,0,0.0,0,NaN,3 Aana,25,nan,N/A Sq. Feet,0,1,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,1,0,1,0,0,1
2205,"['sale', 'land']",budhanilkantha,2700000.0,0,0,0.0,0,NaN,7-0-2 Aana,12,nan,N/A Sq. Feet,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [73]:
ds['Title'].value_counts()
ds.describe()

,Price,Bedroom,Bathroom,Floors,Parking,Year,Road Width,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
count,1.483000e+03,1483.000000,1483.000000,1317.000000,1483.000000,401.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000
mean,3.568617e+11,3.008092,2.031018,1.413060,1.119353,2061.014963,15.998651,0.067431,0.113958,0.363452,0.012812,0.031693,0.058665,0.399191,0.074848,0.117330,0.146999,0.183412,0.191504,0.021578,0.023601,0.104518,0.003372,0.047876,0.100472,0.008766,0.007417,0.056642,0.183412,0.180715,0.018881,0.207013,0.064734,0.017532,0.294673,0.068105,0.426837,0.354012,0.162508,0.242751
std,7.357471e+12,4.522541,2.665896,1.633566,2.255878,24.118557,26.892825,0.250851,0.317868,0.481156,0.112500,0.175239,0.235076,0.489897,0.263235,0.321921,0.354225,0.387134,0.393617,0.145350,0.151853,0.306034,0.057987,0.213576,0.300730,0.093247,0.085833,0.231235,0.387134,0.384911,0.136149,0.405301,0.246138,0.131287,0.456049,0.252011,0.494785,0.478374,0.369041,0.428891
min,9.000000e+01,0.000000,0.000000,0.000000,0.000000,1994.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000e+06,0.000000,0.000000,0.000000,0.000000,2065.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.400000e+07,2.000000,0.000000,0.000000,0.000000,2074.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,3.250000e+07,5.000000,4.000000,3.000000,2.000000,2076.000000,20.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000
max,2.160000e+14,95.000000,40.000000,12.000000,31.000000,2077.000000,984.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [74]:
saleable_house = [{'sale', 'house'}, {'house', 'sale', 'bungalow'}, {'sale', 'home', 'house'}, {'sale', 'sell', 'house'}, {'sale', 'land', 'house'}, {'sale', 'building', 'house'}, {'sale', 'bungalow', 'house'}, {'house', 'sale', 'land', 'bungalow'}]

In [75]:
def set_keep_remove(raw_data):
    cleaned = set(raw_data.replace("'", "").strip('][').split(', '))
    print (cleaned)
    pass
    if (cleaned in saleable_house):
       
        return 1
    else:
        return  0

In [76]:
ds["Keep"] = ds['Title'].apply(set_keep_remove)

{'house', 'flat', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'flat', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'building'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'building'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'flat', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sell', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sell', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'business', 'lease', 'land'}
{'sale', 'land'}
{'flat', 'rent'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'office'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'flat', 'rent'}
{'flat', 'rent'}
{'home', 'house', 'rent'}
{'flat', 'rent'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'flat', 'rent'}
{'sale', 'land'}
{'office', 'rent'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'rent', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'office', 'rent'}
{'sale', 'land'}
{'sale', 'land'}
{'flat', 'office', 'rent'}
{'sale', 'land'}
{'house', 'rent'}
{'sale', 'land'}
{'flat', 'sale', 'apartment'}
{'apartment', 'rent'}
{'sale', 'office'}
{'house', 'rent'}
{'sale', 'land'}
{'business', 'rent'}
{'flat', 'rent'}
{'sale', 'land'}
{'flat', 'rent'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'rent'}
{'building', 'rent', 'office'}
{'business', 'sale'}
{'business', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'flat', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'land'}
{'sale', 'land'}
{'house', 'sell', 'flat', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'home', 'house', 'rent'}
{'sale', 'land'}
{'house', 'rent', 'bungalow'}
{'sale', 'land'}
{'flat', 'rent'}
{'office', 'rent'}
{'house', 'rent'}
{'sale', 'land'}
{'house', 'sale'}
{'flat', 'rent'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'apartment'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale', 'office'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'flat', 'office', 'rent'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'rent'}
{'house', 'sale'}
{'house', 'sale'}
{'flat', 'rent'}
{'house', 'rent'}
{'house', 'rent'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'flat', 'rent'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'office', 'rent'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'rent'}
{'office', 'rent'}
{'flat', 'rent'}
{'house', 'sale', 'bungalow'}
{'house', 'rent', 'bungalow'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale', 'rent'}
{'house', 'sale'}
{'house', 'rent'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'business', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'rent'}
{'house', 'business', 'rent'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'business', 'office', 'rent'}
{'house', 'rent'}
{'flat', 'rent'}
{'office', 'rent'}
{'house', 'rent'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'office'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'business', 'rent'}
{'house', 'sale'}
{'house', 'rent'}
{'house', 'rent'}
{'house', 'rent'}
{'house', 'sale'}
{'flat', 'rent'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'rent'}
{'house', 'sale'}
{'sale', 'land'}
{'flat', 'rent'}
{'office', 'rent'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'sale', 'land'}
{'home', 'house', 'flat', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'sale', 'land'}
{'home', 'house', 'sale'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'rent'}
{'house', 'rent'}
{'sale', 'apartment'}
{'sale', 'land'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'land', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'rent'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'office'}
{'home', 'house', 'sale'}
{'house', 'rent'}
{'sale', 'land'}
{'sale', 'land'}
{'rent', 'land'}
{'office', 'rent'}
{'house', 'rent'}
{'office', 'rent'}
{'house', 'rent'}
{'sale', 'land'}
{'house', 'rent'}
{'sale', 'land'}
{'house', 'rent'}
{'rent', 'land'}
{'rent', 'land'}
{'office', 'rent'}
{'office', 'rent'}
{'house', 'rent'}
{'sale', 'land'}
{'house', 'rent'}
{'house', 'sale', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'business', 'rent'}
{'house', 'office', 'rent'}
{'sale', 'land'}
{'house', 'rent'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'sale', 'land'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'building'}
{'house', 'sale'}
{'house', 'flat', 'rent'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'house', 'rent'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'sale', 'land'}
{'house', 'rent', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'home', 'house', 'sale'}
{'house', 'rent', 'bungalow'}
{'sale', 'land'}
{'home', 'house', 'flat', 'sale'}
{'sale', 'office'}
{'sell', 'sale', 'land'}
{'house', 'sale'}
{'flat', 'rent'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'rent'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sell', 'sale', 'land'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'building', 'apartment', 'rent'}
{'apartment', 'rent'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'flat', 'rent'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'flat', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'flat', 'rent'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sell', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'office', 'rent'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'land'}
{'sale', 'land'}
{'house', 'sell', 'sale'}
{'sale', 'land'}
{'house', 'flat', 'sale'}
{'house', 'sale', 'land'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'flat', 'rent'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'business', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'flat', 'rent'}
{'home', 'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'rent'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'office', 'rent'}
{'business', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'sale', 'land'}
{'house', 'sale', 'land'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'apartment', 'rent'}
{'office', 'rent'}
{'house', 'sale'}
{'house', 'rent', 'bungalow'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'rent'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'rent'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'office', 'rent'}
{'sale', 'land'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'sale', 'office'}
{'apartment', 'rent'}
{'house', 'sale', 'bungalow'}
{'sale', 'land'}
{'home', 'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'office', 'rent'}
{'house', 'sale'}
{'sale', 'land'}
{'business', 'building', 'rent'}
{'sale', 'land'}
{'flat', 'rent'}
{'office', 'rent'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'flat', 'rent'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'rent'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'rent'}
{'sale', 'land'}
{'flat', 'rent'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'flat', 'rent'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'flat', 'rent'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'office', 'rent'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'business', 'rent'}
{'flat', 'rent'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sell', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'office', 'rent'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'business', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'business', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'business', 'sale'}
{'business', 'sale'}
{'house', 'sale'}
{'business', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'flat', 'rent'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'business', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'sell', 'sale'}
{'house', 'sale'}
{'business', 'sale'}
{'house', 'sale'}
{'flat', 'rent'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'flat', 'rent'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'rent'}
{'flat', 'rent'}
{'house', 'sale'}
{'office', 'rent'}
{'home', 'house', 'sale'}
{'sale', 'land'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'flat', 'rent'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'office', 'rent'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'business', 'sale'}
{'business', 'sale'}
{'house', 'sale', 'rent'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'flat', 'rent'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'flat', 'rent'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'rent'}
{'sale', 'land'}
{'house', 'sale', 'bungalow'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'home', 'house', 'sale'}
{'house', 'sale', 'bungalow'}
{'house', 'sale'}
{'house', 'sale'}
{'business', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'apartment', 'rent'}
{'house', 'rent'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'business', 'sale'}
{'business', 'sale'}
{'business', 'sale'}
{'business', 'sale'}
{'business', 'sale'}
{'business', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'business', 'rent'}
{'rent', 'land'}
{'sale', 'land'}
{'house', 'sale'}
{'sale', 'land'}
{'sale', 'land'}
{'office', 'rent'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'apartment', 'rent'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'sale'}
{'sale', 'land'}
{'house', 'rent'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'house', 'rent'}
{'house', 'rent'}
{'sale', 'land'}
{'apartment', 'rent'}
{'house', 'sell', 'sale'}
{'house', 'rent'}
{'sale', 'land'}
{'home', 'house', 'sale'}
{'house', 'sale'}
{'house', 'sale'}
{'home', 'house', 'sale'}
{'sale', 'land'}
{'house', 'sale'}
{'house', 'rent'}
{'house', 'rent'}
{'house', 'rent'}
{'house', 'rent'}
{'sale', 'land'}
{'house', 'sale'}
{'business', 'sale'}
{'sale', 'land'}
{'house', 'rent'}
{'house', 'sale'}

In [77]:
ds.head(20)
ds.describe()

,Price,Bedroom,Bathroom,Floors,Parking,Year,Road Width,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi,Keep
count,1.483000e+03,1483.000000,1483.000000,1317.000000,1483.000000,401.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000,1483.000000
mean,3.568617e+11,3.008092,2.031018,1.413060,1.119353,2061.014963,15.998651,0.067431,0.113958,0.363452,0.012812,0.031693,0.058665,0.399191,0.074848,0.117330,0.146999,0.183412,0.191504,0.021578,0.023601,0.104518,0.003372,0.047876,0.100472,0.008766,0.007417,0.056642,0.183412,0.180715,0.018881,0.207013,0.064734,0.017532,0.294673,0.068105,0.426837,0.354012,0.162508,0.242751,0.507755
std,7.357471e+12,4.522541,2.665896,1.633566,2.255878,24.118557,26.892825,0.250851,0.317868,0.481156,0.112500,0.175239,0.235076,0.489897,0.263235,0.321921,0.354225,0.387134,0.393617,0.145350,0.151853,0.306034,0.057987,0.213576,0.300730,0.093247,0.085833,0.231235,0.387134,0.384911,0.136149,0.405301,0.246138,0.131287,0.456049,0.252011,0.494785,0.478374,0.369041,0.428891,0.500109
min,9.000000e+01,0.000000,0.000000,0.000000,0.000000,1994.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000e+06,0.000000,0.000000,0.000000,0.000000,2065.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.400000e+07,2.000000,0.000000,0.000000,0.000000,2074.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,3.250000e+07,5.000000,4.000000,3.000000,2.000000,2076.000000,20.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000
max,2.160000e+14,95.000000,40.000000,12.000000,31.000000,2077.000000,984.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [78]:
ds = ds[ds['Keep'] == 1]

In [79]:
# ds.sample(n=20)

In [80]:
ds = ds.drop(['Title', 'Keep'], axis=1)

In [81]:
ds.head()
ds.describe()

,Price,Bedroom,Bathroom,Floors,Parking,Year,Road Width,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
count,7.530000e+02,753.000000,753.000000,660.000000,753.000000,341.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000
mean,1.726856e+11,4.780876,3.193891,2.268939,1.636122,2064.979472,14.966799,0.110226,0.188579,0.553785,0.022576,0.045153,0.102258,0.629482,0.116866,0.196547,0.227092,0.308101,0.286853,0.022576,0.037185,0.167331,0.005312,0.078353,0.162019,0.002656,0.009296,0.103586,0.294821,0.273572,0.021248,0.355910,0.108898,0.014608,0.480744,0.118194,0.641434,0.573705,0.264276,0.398406
std,4.737462e+12,4.906688,2.735623,1.371183,2.441414,21.029591,5.134387,0.313379,0.391434,0.497429,0.148647,0.207777,0.303188,0.483264,0.321474,0.397651,0.419231,0.462015,0.452593,0.148647,0.189340,0.373519,0.072739,0.268905,0.368713,0.051503,0.096031,0.304925,0.456265,0.446088,0.144307,0.479106,0.311718,0.120058,0.499961,0.323052,0.479898,0.494866,0.441240,0.489895
min,2.400000e+02,0.000000,0.000000,0.000000,0.000000,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.150000e+07,3.000000,0.000000,2.000000,0.000000,2070.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000e+07,5.000000,3.000000,3.000000,1.000000,2075.000000,14.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,4.500000e+07,6.000000,5.000000,3.000000,2.000000,2076.000000,16.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,1.300000e+14,95.000000,40.000000,10.000000,31.000000,2077.000000,45.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [82]:
area = ds["Build Area"]
print(area)
print(area.count())
ds.describe()

1          0-14-0-0 Aana
2          10-1-0-0 Aana
3           0-7-1-0 Aana
4          0-14-2-0 Aana
5           0-8-3-1 Aana
              ...
2200        N/A Sq. Feet
2202    4080.12 Sq. Feet
2207        N/A Sq. Feet
2208        N/A Sq. Feet
2210             13 Aana
Name: Build Area, Length: 753, dtype: object
753

,Price,Bedroom,Bathroom,Floors,Parking,Year,Road Width,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
count,7.530000e+02,753.000000,753.000000,660.000000,753.000000,341.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000
mean,1.726856e+11,4.780876,3.193891,2.268939,1.636122,2064.979472,14.966799,0.110226,0.188579,0.553785,0.022576,0.045153,0.102258,0.629482,0.116866,0.196547,0.227092,0.308101,0.286853,0.022576,0.037185,0.167331,0.005312,0.078353,0.162019,0.002656,0.009296,0.103586,0.294821,0.273572,0.021248,0.355910,0.108898,0.014608,0.480744,0.118194,0.641434,0.573705,0.264276,0.398406
std,4.737462e+12,4.906688,2.735623,1.371183,2.441414,21.029591,5.134387,0.313379,0.391434,0.497429,0.148647,0.207777,0.303188,0.483264,0.321474,0.397651,0.419231,0.462015,0.452593,0.148647,0.189340,0.373519,0.072739,0.268905,0.368713,0.051503,0.096031,0.304925,0.456265,0.446088,0.144307,0.479106,0.311718,0.120058,0.499961,0.323052,0.479898,0.494866,0.441240,0.489895
min,2.400000e+02,0.000000,0.000000,0.000000,0.000000,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.150000e+07,3.000000,0.000000,2.000000,0.000000,2070.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000e+07,5.000000,3.000000,3.000000,1.000000,2075.000000,14.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,4.500000e+07,6.000000,5.000000,3.000000,2.000000,2076.000000,16.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,1.300000e+14,95.000000,40.000000,10.000000,31.000000,2077.000000,45.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [83]:
result = ds[~area.str.contains('Aana', case=False)]
print(result["Build Area"])
ds.describe()

15         2700 Sq. Feet
24         2100 Sq. Feet
56         2000 Sq. Feet
61         4000 Sq. Feet
64      0-3-1-2 Sq. Feet
              ...
2195        N/A Sq. Feet
2200        N/A Sq. Feet
2202    4080.12 Sq. Feet
2207        N/A Sq. Feet
2208        N/A Sq. Feet
Name: Build Area, Length: 328, dtype: object

,Price,Bedroom,Bathroom,Floors,Parking,Year,Road Width,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
count,7.530000e+02,753.000000,753.000000,660.000000,753.000000,341.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000
mean,1.726856e+11,4.780876,3.193891,2.268939,1.636122,2064.979472,14.966799,0.110226,0.188579,0.553785,0.022576,0.045153,0.102258,0.629482,0.116866,0.196547,0.227092,0.308101,0.286853,0.022576,0.037185,0.167331,0.005312,0.078353,0.162019,0.002656,0.009296,0.103586,0.294821,0.273572,0.021248,0.355910,0.108898,0.014608,0.480744,0.118194,0.641434,0.573705,0.264276,0.398406
std,4.737462e+12,4.906688,2.735623,1.371183,2.441414,21.029591,5.134387,0.313379,0.391434,0.497429,0.148647,0.207777,0.303188,0.483264,0.321474,0.397651,0.419231,0.462015,0.452593,0.148647,0.189340,0.373519,0.072739,0.268905,0.368713,0.051503,0.096031,0.304925,0.456265,0.446088,0.144307,0.479106,0.311718,0.120058,0.499961,0.323052,0.479898,0.494866,0.441240,0.489895
min,2.400000e+02,0.000000,0.000000,0.000000,0.000000,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.150000e+07,3.000000,0.000000,2.000000,0.000000,2070.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000e+07,5.000000,3.000000,3.000000,1.000000,2075.000000,14.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,4.500000e+07,6.000000,5.000000,3.000000,2.000000,2076.000000,16.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,1.300000e+14,95.000000,40.000000,10.000000,31.000000,2077.000000,45.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [84]:
pattern = r'\d+-\d+-\d+-\d+'

# Filter the rows that match the pattern
filtered_df = ds[ds['Build Area'].str.contains(pattern, regex=True)]
# filtered_df = filtered_df.head()
# print(filtered_df['Build Area'])
ds.describe()

,Price,Bedroom,Bathroom,Floors,Parking,Year,Road Width,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
count,7.530000e+02,753.000000,753.000000,660.000000,753.000000,341.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000
mean,1.726856e+11,4.780876,3.193891,2.268939,1.636122,2064.979472,14.966799,0.110226,0.188579,0.553785,0.022576,0.045153,0.102258,0.629482,0.116866,0.196547,0.227092,0.308101,0.286853,0.022576,0.037185,0.167331,0.005312,0.078353,0.162019,0.002656,0.009296,0.103586,0.294821,0.273572,0.021248,0.355910,0.108898,0.014608,0.480744,0.118194,0.641434,0.573705,0.264276,0.398406
std,4.737462e+12,4.906688,2.735623,1.371183,2.441414,21.029591,5.134387,0.313379,0.391434,0.497429,0.148647,0.207777,0.303188,0.483264,0.321474,0.397651,0.419231,0.462015,0.452593,0.148647,0.189340,0.373519,0.072739,0.268905,0.368713,0.051503,0.096031,0.304925,0.456265,0.446088,0.144307,0.479106,0.311718,0.120058,0.499961,0.323052,0.479898,0.494866,0.441240,0.489895
min,2.400000e+02,0.000000,0.000000,0.000000,0.000000,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.150000e+07,3.000000,0.000000,2.000000,0.000000,2070.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000e+07,5.000000,3.000000,3.000000,1.000000,2075.000000,14.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,4.500000e+07,6.000000,5.000000,3.000000,2.000000,2076.000000,16.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,1.300000e+14,95.000000,40.000000,10.000000,31.000000,2077.000000,45.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [85]:
# area = filtered_df['Build Area'].str.split()
splitds = ds['Build Area'].str.split()
area = splitds.str[0]
# area = area.str[0]
print(area)
na = ds[area.str.contains("N/A")]
print(na['Build Area'])
ds.describe()

1       0-14-0-0
2       10-1-0-0
3        0-7-1-0
4       0-14-2-0
5        0-8-3-1
          ...
2200         N/A
2202     4080.12
2207         N/A
2208         N/A
2210          13
Name: Build Area, Length: 753, dtype: object
12          N/A Aana
13          N/A Aana
14          N/A Aana
16          N/A Aana
17          N/A Aana
            ...
2189    N/A Sq. Feet
2195    N/A Sq. Feet
2200    N/A Sq. Feet
2207    N/A Sq. Feet
2208    N/A Sq. Feet
Name: Build Area, Length: 601, dtype: object

,Price,Bedroom,Bathroom,Floors,Parking,Year,Road Width,amenity_air_condition,amenity_backyard,amenity_balcony,amenity_cafeteria,amenity_cctv,amenity_deck,amenity_drainage,amenity_electricity_backup,amenity_fencing,amenity_frontyard,amenity_garage,amenity_garden,amenity_gym,amenity_intercom,amenity_internet,amenity_jacuzzi,amenity_kids_playground,amenity_lawn,amenity_lift,amenity_maintenance,amenity_microwave,amenity_modular_kitchen,amenity_parking,amenity_security_staff,amenity_solar_water,amenity_store_room,amenity_swimming_pool,amenity_tv_cable,amenity_washing_machine,amenity_water_supply,amenity_water_tank,amenity_water_well,amenity_wifi
count,7.530000e+02,753.000000,753.000000,660.000000,753.000000,341.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000,753.000000
mean,1.726856e+11,4.780876,3.193891,2.268939,1.636122,2064.979472,14.966799,0.110226,0.188579,0.553785,0.022576,0.045153,0.102258,0.629482,0.116866,0.196547,0.227092,0.308101,0.286853,0.022576,0.037185,0.167331,0.005312,0.078353,0.162019,0.002656,0.009296,0.103586,0.294821,0.273572,0.021248,0.355910,0.108898,0.014608,0.480744,0.118194,0.641434,0.573705,0.264276,0.398406
std,4.737462e+12,4.906688,2.735623,1.371183,2.441414,21.029591,5.134387,0.313379,0.391434,0.497429,0.148647,0.207777,0.303188,0.483264,0.321474,0.397651,0.419231,0.462015,0.452593,0.148647,0.189340,0.373519,0.072739,0.268905,0.368713,0.051503,0.096031,0.304925,0.456265,0.446088,0.144307,0.479106,0.311718,0.120058,0.499961,0.323052,0.479898,0.494866,0.441240,0.489895
min,2.400000e+02,0.000000,0.000000,0.000000,0.000000,2000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.150000e+07,3.000000,0.000000,2.000000,0.000000,2070.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000e+07,5.000000,3.000000,3.000000,1.000000,2075.000000,14.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
75%,4.500000e+07,6.000000,5.000000,3.000000,2.000000,2076.000000,16.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
max,1.300000e+14,95.000000,40.000000,10.000000,31.000000,2077.000000,45.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [86]:
first_data = area.str.split('-', expand=True)[0].astype(float)
second_data = area.str.split('-', expand=True)[1].astype(float)
third_data = area.str.split('-', expand=True)[2].astype(float)
fourth_data = area.str.split('-', expand=True)[3].astype(float)

# Perform the calculations
result = (((first_data * 16 + second_data) * 4 + third_data) * 4 + fourth_data) * 21.3906

# Add the result column to the DataFrame
filtered_df['Build Area'] = result

print(filtered_df['Build Area'])
ds['Build Area'] = filtered_df['Build Area']
ds.describe()

ValueError: could not convert string to float: 'N/A'

In [ ]:
# ds = ds.drop(['Result'], axis=1)
# ds.head(10)

In [ ]:
ds.describe()